{% extends 'awards/base/uimainbase/allifmaaluibase_public.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}
<div class="allifmaal-main-container">
 
  <!--start....main headere-->
<div class="card-header">
  <div class="row mt-12" ><!--start....header row-->
  <div class="col-md-12"><!--start....header column-->
  <div class="container-fluid amel-content-header">
    <div class="dropdown allifmaal-content-dropdown">
      <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Search
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <div class="content-dropdown-menu">
        <li><a class="dropdown-item">Looking for something?</a></li>
        <form method='POST' action="{% url 'awards:companySearch' %}">{% csrf_token %}
          <input type="text" id="allifsearchcommonfield" name="allifsearchcommonfieldname" class="form-control allifsearchcommonfieldclasstwo"
          placeholder="Type Here ...">
          <button type="submit" class="btn allifmaal-submit-btn">Submit</button>
          </form>
        
      </div>
      </ul>
    </div>
    <a class="amel-table-list-identifier">Companies:</a>
    {% if logged_user.is_superuser %}
    <a href="{% url 'awards:allifAdminHome' %}">Admin Home</a>
    {% elif logged_user.user_category == "owner" %}
    <a href="{% url 'awards:home' %}">GMA Home</a>
   
    {% endif %}
    
    <a href="{% url 'awards:categories' %}">Categories</a>
   
    <a href="{% url 'awards:companies' %}">Companies</a>
    
  </div>
    </div><!--end....header column-->
    </div><!--end....header row-->
  </div><!--end....main headere-->
  



  <div class="allifmaincontainer">
      
 
    <div class="row mt-12"> <!--start....table row-->
      
      <div class="delete-confirmation-header">
        {% if messages %}
    
        {% for message in messages %}
          {{message}}  <a href="{% url 'awards:companies' %}"> <strong> OK </strong></a>
        {% endfor %}
    
        {% endif %}
        
      </div>
    
      <div class="col-md-12"> <!--start....table column-->
      <div class="allif-scroll-table">
        <div class="table-responsive allif-full-table">
        <table class="table table-layout">
          <thead>
            <tr class="allif-table-header-row">
            <td class="allif-fix-table-col">Company Name</td>
            <td>Category</td>
           
            {% if user_is_admin_owner == True %}
            <td>Votes Gained</td>
              {% else %}
             <td></td>
              {% endif %}

            <td>Vote For Company</td>
            <td>Vote For Category</td>
            <td>Navigate</td>
            
            <td> . . . </td>
            <td></td>
            </tr>
            </thead>
            <tbody class="allif-table-body">
             
            
            {% for item in allifqueryset %} 
            <tr data-id="{{item.id}}">
              <td class="allif-fix-table-col"><a class="allif-table-links" href="{% url 'awards:companyDetails' item.id %}">{{item.name}}</a></td>
             
              <td>
                {{item.category}}
              </td>
              {% if user_is_admin_owner == True %}
              <td>{{item.votes}}</td>
                {% else %}
               <td></td>
                {% endif %}
             
              <td class="allif-fix-table-col">Vote For <a class="allif-table-links" href="{% url 'awards:voteForCompany' item.id %}">{{item.name}}</a></td>
             
              <td class="allif-fix-table-col">Vote For <a class="allif-table-links" href="{% url 'awards:votecategory' item.category.id %}">{{item.category}}</a></td>
              
             
          
            <td>
              <div class="dropdown allifmaal-content-dropdown">
                <a href="#" onclick="showDropdown(event, this)" class="dropdown-toggle dropdown-item" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Options</a>
                <div class="dropdown-content">
                  <a href="{% url 'awards:editCompany' item.id %}" class="dropdown-item" id="allif-table-drop-item-link">Edit Item</a>
                  <a href="#" onclick="confirmDelete(this)" class="dropdown-item" id="allif-table-drop-item-link-delete">Delete Item</a>
                  
                </div>
              </div>
              <div class="dropdown allif-confirm-action">
                
                <a href="{% url 'awards:companies' %}" id="allif-table-drop-item-link">No</a><span><strong> | </strong></span>
                <a href="{% url 'awards:deleteCompany' item.id %}" id="allif-confirm-delete">Confirm</a>
              </div>
    
             
            </td>
    
           <td> . . . </td>
           <td></td>
          
      
        </tr>
        {% endfor %}
        {% if searched_data %}
        {% for item in searched_data %}
        <tr data-id="{{item.id}}">
          <td class="allif-fix-table-col"><a class="allif-table-links" href="{% url 'awards:categoryDetails' item.id %}">{{item.name}}</a></td>
         
          <td class="allif-fix-table-col">Vote For <a class="allif-table-links" href="{% url 'awards:votecategory' item.id %}">{{item.name}}</a></td>
         
          <td>
              {{item.date|date:'d/m/Y'}}
            </td>
        
          <td>
            <div class="dropdown allifmaal-content-dropdown">
              <a href="#" onclick="showDropdown(event, this)" class="dropdown-toggle dropdown-item" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Options</a>
              <div class="dropdown-content">
                <a href="{% url 'awards:editCompany' item.id %}" class="dropdown-item" id="allif-table-drop-item-link">Edit Item</a>
                <a href="#" onclick="confirmDelete(this)" class="dropdown-item" id="allif-table-drop-item-link-delete">Delete Item</a>
                
              </div>
            </div>
            <div class="dropdown allif-confirm-action">
              
              <a href="{% url 'awards:companies' %}" id="allif-table-drop-item-link">No</a><span><strong> | </strong></span>
              <a href="{% url 'awards:deleteCompany' item.id %}" id="allif-confirm-delete">Confirm</a>
            </div>
    
           
          </td>
    
         <td> . . . </td>
         <td></td>
        
    
      </tr>
        {% endfor %}
          {%endif %}
    
          </tbody>
        </table>
        </div>
       </div>
    
    </div><!--end....table column-->
    
    </div><!--end....table row-->
   
</div>
</div>

  {% block scripts %}
 
  {% endblock %}
  {% endblock %}
















