{% extends 'allifmaalcommonapp/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}
<div class="allifmaal-main-container">
 
<!--start....main headere-->
<div class="card-header">

  <div class="row mt-12" ><!--start....header row-->
  
  <div class="col-md-12"><!--start....header column-->
  
  <div class="container-fluid amel-content-header">
    
    <a href="{% url 'allifmaalcommonapp:commonHome' user_var glblslug %}">Home</a>
    <a href="{% url 'allifmaaladminapp:adminappHome' user_var glblslug %}"> Admin Home</a>
   
    <a href="{% url 'allifmaalcommonapp:commonCompanyDetailsForClients' user_var glblslug %}">Company</a>
    <a href="{% url 'allifmaalcommonapp:commonCompanies' user_var glblslug %}">Companies </a>
 
  <a href="{% url 'allifmaalcommonapp:commonSectors' user_var glblslug %}">Sectors </a>
  
  <a href="{% url 'allifmaalcommonapp:commonhrm' user_var glblslug %}">HRM</a>
  
  
  <a href="{% url 'allifmaalcommonapp:commonSuppliers' user_var glblslug %}" >Suppliers</a>
  
  <a href="{% url 'allifmaalcommonapp:commonDepartments' user_var glblslug %}">Departments</a>
  </div>
  
      </div><!--end....header column-->
    
    </div><!--end....header row-->
  
  </div><!--end....main headere-->
  
    <div class="allifmaincontainer">

  <div class="row mt-12"> <!--start....table row-->
    <div class="col-md-12"><!--start of the first row body-->
        <div class="allif-form-container">
        <form method='POST' action='' enctype="multipart/form-data">{% csrf_token %}
        <div class="row"><!--start of row div --->
          <div class="col-md-4"><!--start of column 1-->
            <div class="card shadow text-left p-3 allif-form-card" >
              <label>Company Name</label> {{form.company}}
            
              <label>Sector</label>{{form.sector}}
              <label>Phone 1</label> {{form.phone1}}
              <label>Phone 2</label> {{form.phone2}}
              <label>Branch</label> {{form.branch}}
          </div>
            </div><!--end of column 1-->
        
            <div class="col-md-4"><!--start of column 2-->
            <div class="card shadow text-left p-3 allif-form-card">
              <label>Email</label> {{form.email}} 
              <label>Address</label> {{form.address}}
              <label>City</label> {{form.city}}
              <label>Country</label> {{form.country}}
                
                </div>
            </div><!--end of column 2-->
            <div class="col-md-4"><!--start of column 3-->
            <div class="card shadow text-left p-3 allif-form-card">
              
              <label>BOX</label> {{form.pobox}}
              <label>Website</label> {{form.website}} 
              <label>Logo</label> {{form.logo}} 
              <label>Deletable</label> {{form.can_delete}} 
               
              
                <br>
                <input type="submit" value='Save' class="btn btn-success allifmaal-submit-btn">
        
                </div>
            </div><!--end of column 1-->
        
        </div><!--end of row div --->
            </form>
            </div>
            </div><!--end of first row body-->
</div><!--end....table row-->

<!--end of table-->


</div><!--end of main container of the page....-->
</div>
  {% block scripts %}

  {% endblock %}
   {% endblock %}
   
