{% extends 'allifmaalcommonapp/base/uimainbase/allifpdfuibase.html'%}
{% load humanize %}
{% load static %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}
<div>
    <table class="table-bordered">
    <tr class="allif-pdf-table-header">
    <th colspan="5">Quotation
    </th>
    <th colspan="5">Customer</th>
    </tr>

    <tr>      
    <th colspan="5">
    <li>Quote Ref : {{Quote_details.number}}</li>
    <li>Terms : {{Quote_details.terms}}</li>
    <li>Currency : {{Quote_details.currency}}</li>
    <li>Sales Person : {{system_user}}</li>
    <li> Date : {{Quote_details.date}}</li> 
    </th>
            
    <th colspan="5">
    <li> Client :  {{Quote_details.customer}}</li> 
    <li>Phone : {{Quote_details.customer.phone}}</li> 
    <li>Email : {{Quote_details.customer.email}}</li>
    <li>Address : {{Quote_details.customer.address}}</li>
    <li>Country : {{Quote_details.customer.country}}</li>
    </th>
    </tr>

    <tr>
    <thead>
    <tr class="allif-pdf-table-header">
    <th colspan="4">Description</th>
    <th colspan="2" >Quantity</th>
    <th colspan="2">Unit Price</th>
    <th colspan="2">Sub-total</th>
    </tr>
    </thead>
    <tbody>
    {% for item in searched_data %}
    <tr>
    <td colspan="4">{{item.company}}</td>
    <td colspan="2">{{item.quantity|intcomma}}</td>
    <td colspan="2"> {{item.description.unitPrice|intcomma}}</td>
    <td colspan="2">{{item.quote_selling_price|intcomma}}</td>
    </tr>
    {% endfor %}

    <tr>
    <td colspan="8"> Sub Total {{Quote_details.currency}} </td>
    <td colspan="2">{{invoiceTotal|intcomma}}</td>
    </tr>
    <tr>
    <td colspan="8">Discount {{Quote_details.discountValue}}%</td>
    <td colspan="2">{{Quote_details.discountAmount|intcomma}}</td>
    </tr>

    <tr>
    <td colspan="8">Add Sales Tax {{Quote_details.tax}}% </td>
    <td colspan="2">{{Quote_details.taxAmount|intcomma}} </td>
    </tr>

    <tr>
    <td colspan="8"><h5>Grand Total {{Quote_details.currency}}</h5></td>
    <td colspan="2"> <h4>{{Quote_details.priceLessDiscountWithTax|floatformat:2|intcomma}}</h4></td>
    </tr>

    </tbody>
    </table>
    <h3>Thank you {{Quote_details.customer}} for giving us the opportunity to serve you.</h3>

    <p >Comments: {{Quote_details.comments}}</p>

    <br>

    <div>
        
    <a href="https://www.allifmaal.com/">www.allifmaal.com</a>

    </div>      
</div> 

{% block scripts %}

{% endblock %}

{% endblock %}
   