{% extends 'awards/base/uimainbase/allifmaaluibase_public.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}
<div class="allifmaal-main-container">

<!--start....main headere-->
<div class="card-header">

<div class="row mt-12" ><!--start....header row-->

<div class="col-md-12"><!--start....header column-->

<div class="container-fluid amel-content-header">
<div class="dropdown allifmaal-content-dropdown">
  <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
  Actions
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <div class="content-dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'awards:editCategory' allifquery.id %}">Edit Category</a></li>
    <li><a class="dropdown-item body-delete-link" href="{% url 'awards:deleteCategory' allifquery.id %}">Delete Category</a></li>

    
   </div>
  </ul>
</div>

{% if logged_user.is_superuser %}
    <a href="{% url 'awards:allifAdminHome' %}">Admin Home</a>
    {% elif logged_user.user_category == "owner" %}
    <a href="{% url 'awards:home' %}">GMA Home</a>
   
    {% endif %}
<a href="{% url 'awards:categories' %}">Categories</a>
<a href="{% url 'awards:companies' %}">Companies</a>

</div>

    </div><!--end....header column-->
  
  </div><!--end....header row-->

</div><!--end....main headere-->

  <div class="allifmaincontainer">
<div class="row mt-12"> <!--start....table row-->
  <div class="table-details-content-description"> <strong>{{allifquery}}</strong> Category Details</div>
  <div class="col-md-12"> <!--start....table column-->
  <div class="allif-scroll-table">
    <div class="allif-info-tables">
      <div class="row"><!--start of row div --->
  <!--start of column two-->
  <div class="col-md-4">
    
      <!--start of the table here-->
      <div class="table-responsive">
      <table class="table table-layout">
      <tbody>
      <tr>
        <td class="allif-fix-table-col">Category</td>
        <td>{{allifquery.name}}</td>
    
        </tr>
       
        </tbody>
        </table>
      </div>
        </div>
           
    
     <!--start of column two-->
     <div class="col-md-4">
       <!--start of the table here-->
       <div class="allif-details-card table-responsive">
       <table class="table table-layout">
        <tbody>
          <tr>
            <td class="allif-fix-table-col">Comments</td>
            <td>{{allifquery.comments}}</td>
        
            </tr>
    
           
             
          </tbody>
          </table>
          </div>
          </div>
    
    
     <!--start of column two-->
     <div class="col-md-4">
      <div class="allif-details-card table-responsive">
       <!--start of the table here-->
       <table class="table table-layout">
        <tbody>
          <tr>
            <td class="allif-fix-table-col">Date</td>
            <td>{{allifquery.date|date:'d/m/Y'}}</td>
        
            </tr>
          </tbody>
          </table>
  </div>
    </div>
    </div><!--end of row div --->
      
        </div>

</div><!--end....table row-->
</div>
<!--end of table-->

</div><!--end of main container of the page....-->

{% if user_is_admin_owner == True %}
<div class="table-details-content-description"> {{user_voting_status}}</div>
<div class="row mt-12"> <!--start....table row-->
  <div class="col-md-6"> <!--start....table column-->
    <div class="table-content-description"> <a href="" class="allif-table-links"> {{allifquery}} Companies <strong>{{companies_counter}}</strong></a> </div>
  <div class="allif-scroll-table">
    <div class="table-responsive allif-full-table">
    <table class="table table-layout">
      <thead>
        <tr class="allif-table-header-row">
        <td class="allif-fix-table-col">Company</td>
        
        <td>Votes</td>
        <td>Created On</td>
      
        </tr>
        </thead>
        <tbody class="allif-table-body">
         
        
        {% for item in allifqueryset %} 
        <tr data-id="{{item.id}}">
        <td class="allif-fix-table-col"><a class="allif-table-links" href="{% url 'awards:companyDetails' item.id %}">{{item.name}}</a></td>
       
        <td>{{item.votes}}</td>
        <td>{{item.date|date:'d/m/Y'}}</td>
      
      </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
   </div>

</div><!--end....table column-->

<div class="col-md-6"> <!--start....table column-->
  <div class="table-content-description"> <a href="" class="allif-table-links"> {{allifquery}} Voters <strong>{{cat_voters_counter}}</strong></a> </div>
<div class="allif-scroll-table">
  <div class="table-responsive allif-full-table">
  <table class="table table-layout">
    <thead>
      <tr class="allif-table-header-row">
      <td class="allif-fix-table-col">First Name</td>
      <td>Email</td>
      <td>Voted On</td>
     
      </tr>
      </thead>
      <tbody class="allif-table-body">
       
      
      {% for item in cat_voters %} 
      <tr data-id="{{item.id}}">
      <td class="allif-fix-table-col"><a class="allif-table-links" href="{% url 'awards:voteDetails' item.id %}">{{item.first_name}}</a></td>
      <td>{{item.email}}</td>
      <td>{{item.date|date:'d/m/Y'}}</td>
    
    </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
 </div>

</div><!--end....table column-->

</div><!--end....table row-->
{% else %}

<div class="table-details-content-description"> {{user_voting_status}}</div>
<div class="row mt-12"> <!--start....table row-->
  <div class="col-md-12"> <!--start....table column-->
    <div class="table-content-description"> <a href="" class="allif-table-links"> {{allifquery}} Companies <strong>{{companies_counter}}</strong></a> </div>
  <div class="allif-scroll-table">
    <div class="table-responsive allif-full-table">
    <table class="table table-layout">
      <thead>
        <tr class="allif-table-header-row">
        <td class="allif-fix-table-col">Company</td>
        
        <td>Votes</td>
        <td>Created On</td>
      
        </tr>
        </thead>
        <tbody class="allif-table-body">
         
        
        {% for item in allifqueryset %} 
        <tr data-id="{{item.id}}">
        <td class="allif-fix-table-col"><a class="allif-table-links" href="{% url 'awards:companyDetails' item.id %}">{{item.name}}</a></td>
       
        <td>{{item.votes}}</td>
        <td>{{item.date|date:'d/m/Y'}}</td>
      
      </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
   </div>

</div><!--end....table column-->


</div><!--end....table row-->

{% endif %}

</div>
</div>
  {% block scripts %}

  {% endblock %}
   {% endblock %}
   





