{% extends 'awards/base/uimainbase/allifmaaluibase_public.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}
<div class="allifmaal-main-container">
 
  <!--start....main headere-->
<div class="card-header">
  <div class="row mt-12" ><!--start....header row-->
  <div class="col-md-12"><!--start....header column-->
  <div class="container-fluid amel-content-header">
   
    <a class="amel-table-list-identifier">Companies:</a>

    <a href="{% url 'awards:addCategory' %}">New Category</a>
    <a href="{% url 'awards:companies' %}">Companies</a>
    <a href="{% url 'awards:addCompany' %}">New Company</a>
    <a href="{% url 'awards:votes' %}">Votes</a>
    
  </div>
    </div><!--end....header column-->
    </div><!--end....header row-->
  </div><!--end....main headere-->
  
    <div class="allifmaincontainer">
 
<div class="row mt-12"> <!--start....table row-->
  <div class="col-md-12"> <!--start....table column-->
  <div class="allif-scroll-table">
    <div class="table-responsive allif-full-table">
    <table class="table table-layout">
      <thead>
        <tr class="allif-table-header-row">
        <td class="allif-fix-table-col">Category Name</td>
        <td>Vote</td>
        <td>Comments</td>
        <td>Date</td>
       
        <td>Navigate</td>
        
        <td> . . . </td>
        <td></td>
        </tr>
        </thead>
        <tbody class="allif-table-body">
         
        
        {% for item in allifqueryset %} 
        <tr data-id="{{item.id}}">
        <td class="allif-fix-table-col"><a class="allif-table-links" href="{% url 'awards:editCategory' item.id %}">{{item.name}}</a></td>
       
        <td class="allif-fix-table-col"><a class="allif-table-links" href="{% url 'awards:votecategory' item.id %}">Vote</a></td>
       
        
        <td>
          {{item.comments}}
        </td>
        <td>
            {{item.date}}
          </td>
      
        <td>
          <div class="dropdown allifmaal-content-dropdown">
            <a href="#" onclick="showDropdown(event, this)" class="dropdown-toggle dropdown-item" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Actions</a>
            <div class="dropdown-content">
              <a href="{% url 'awards:editCategory' item.id %}" class="dropdown-item" id="allif-table-drop-item-link">Edit Item</a>
              <a href="{% url 'awards:deleteCategory' item.id %}" class="dropdown-item" id="allif-table-drop-item-link">Delete Item</a>
             
            </div>
          </div>
          <div class="dropdown allif-confirm-action">
            
            <a href="" id="allif-confirm-delete">No</a><span><strong> | </strong></span>
            <a href="" id="allif-confirm-delete">Confirm</a>
          </div>

         
        </td>

       <td> . . . </td>
       <td></td>
      
  
    </tr>
    {% endfor %}
    {% if searched_data %}
    {% for item in searched_data %}
    <tr>
      <td >
        <a href="{% url 'allifmaalcommonapp:commonCompanyDetails' item.id user_var glblslug %}" class="allif-table-links">
       {{item.company}}
        </a>
      </td>
      <td>
        {{item.sector}}
      </td>
      <td>{{item.owner}}</td>
      
      <td>{{item.email}}</td>
   
      </td>
  
    </tr>
    {% endfor %}
      {%endif %}

      </tbody>
    </table>
    </div>
   </div>

</div><!--end....table column-->

</div><!--end....table row-->


</div>
</div>

  {% block scripts %}
 
  {% endblock %}
  {% endblock %}


