{% extends 'awards/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}
<div class="allifmaal-main-container">
 
<!--start....main headere-->
<div class="card-header">

<div class="row mt-12" ><!--start....header row-->

<div class="col-md-12"><!--start....header column-->

<div class="container-fluid amel-content-header">
<a href="{% url 'awards:categories' %}">Categories</a>
<a href="{% url 'awards:companies' %}">Companies</a>
<a href="{% url 'awards:addCompany' %}">New Company</a>
<a href="{% url 'awards:votes' %}">Votes</a>


</div>

    </div><!--end....header column-->
  
  </div><!--end....header row-->

</div><!--end....main headere-->


  <div class="allifmaincontainer">

<div class="row mt-12"> <!--start....table row-->
  <div class="table-details-content-description">Add/Edit New Profile ...vote for {{category.name}}</div>
  <form method='POST' action=''>{% csrf_token %}
  <div class="col-md-12"> <!--start....table column-->
  <div class="allif-scroll-table">
    <div class="allif-info-tables">
      <div class="row"><!--start of row div --->
  <!--start of column two-->
  <div class="col-md-4">
    
      <!--start of the table here-->
      <div class="table-responsive">
      <table class="table table-layout">
      <tbody>
     
      <tr>
        <td class="allif-fix-table-col">Company Name</td>
        <td>{{form.company}}</td>
    
        </tr>

        
       
        </tbody>
        </table>
      </div>
        </div>
           
    
     <!--start of column two-->
     <div class="col-md-4">
       <!--start of the table here-->
       <div class="allif-details-card table-responsive">
       <table class="table table-layout">
        <tbody>
            <tr>
                <td class="allif-fix-table-col">Voter</td>
                <td>{{form.voter}}</td>
            
                </tr>
              
          </tbody>
          </table>
          </div>
          </div>
    
    
     <!--start of column two-->
     <div class="col-md-4">
      <div class="allif-details-card table-responsive">
       <!--start of the table here-->
       <table class="table table-layout">
        <tbody>
         
            <tr>
              <td class="allif-fix-table-col"></td>
              <td> <input type="submit" value='Save' class="btn btn-success allifmaal-submit-btn"></td>
          
              </tr>
          </tbody>
          </table>
  </div>
    </div>
    </div><!--end of row div --->
      
        </div>

</div><!--end....table row-->
</div>
</form>
<!--end of table-->

</div><!--end of main container of the page....-->




</div>

</div>
  {% block scripts %}

  {% endblock %}
   {% endblock %}
   