{% extends 'allifmaalcommonapp/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}
<!--start....main headere-->
<div class="card-header">

  <div class="row mt-12" ><!--start....header row-->
  
  <div class="col-md-12"><!--start....header column-->
  
  <div class="container-fluid amel-content-header">
    <div class="dropdown allifmaal-content-dropdown">
      <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Actions
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <div class="content-dropdown-menu">
           
          <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonEditExpense' allifquery.id user_var glblslug %}">Edit Item</a></li>
          <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonPostExpense' allifquery.id user_var glblslug %}">Post Item</a></li>
          
         
          <li><a class="dropdown-item body-delete-link" href="{% url 'allifmaalcommonapp:commonWantToDeleteExpense' allifquery.id user_var glblslug %}">Delete Item</a></li>
      
       </div>
      </ul>
    </div>
    <a href="{% url 'allifmaalcommonapp:commonHome' user_var glblslug %}">Home</a>
 
  <a href="{% url 'allifmaalcommonapp:commonExpenses' user_var glblslug %}">Expenses</a>
  
  <a href="{% url 'allifmaalcommonapp:commonAddExpense' user_var glblslug %}">Add New</a>
  </div>
  
      </div><!--end....header column-->
    
    </div><!--end....header row-->
  
  </div><!--end....main headere-->

<div class="allifmaincontainer">
  <div class="row mt-12"> <!--start....table row-->
    <div class="allif-details-container">
      <div class="row"><!--start of row div --->
      
        <!--start of column two-->
        <div class="col-md-4">
          <div class="allif-details-card ">
            <!--start of the table here-->
          <table class="table allif-details-table table-layout">
            <tbody>
              <tr>
                <td>Company</td>
                <td>{{allifquery.company}}</td>
            
                </tr>
              <tr>
                <td>Division</td>
                <td>{{allifquery.division}}</td>
            
                </tr>
                <tr>
                  <td>Branch</td>
                  <td>{{allifquery.branch}}</td>
              
                  </tr>
             
          <tr>
            <td>Description</td>
            <td>{{allifquery.description}}</td>
        
            </tr>
        

            
           
          </tbody>
          </table>
        
          </div>
              </div>
      
           
       <!--start of column two-->
       <div class="col-md-4">
        <div class="allif-details-card ">
          <!--start of the table here-->
        <table class="table table-layout allif-details-table">
          <tbody>
       
            <tr>
              <td>Owner</td>
              <td>{{allifquery.owner}}</td>
          
              </tr>
              <tr>
                <td>Funding Account</td>
                <td>{{allifquery.funding_account}}</td>
            
                </tr>

                <tr>
                  <td>Expense Account</td>
                  <td>{{allifquery.expense_account}}</td>
              
                  </tr>
                  <tr>
                    <td>Supplier</td>
                    <td>{{allifquery.supplier}}</td>
                
                    </tr>
                   
        
        </tbody>
        </table>
      
        </div>
            </div>
      
      
       <!--start of column two-->
       <div class="col-md-4">
        <div class="allif-details-card ">
          <!--start of the table here-->
        <table class="table table-layout allif-details-table">
          <tbody>
            <tr>
              <td>Mode</td>
              <td>{{allifquery.mode}}</td>
          
              </tr>
             
                <tr>
                  <td>Quantity</td>
                  <td>{{allifquery.quantity}}</td>
              
                  </tr>

                  <tr>
                    <td>Amount</td>
                    <td>{{allifquery.amount}}</td>
                
                    </tr>
                    <tr>
                      <td>Status</td>
                      <td>{{allifquery.status}}</td>
                  
                      </tr>
                      <tr>
                        <td>Comments</td>
                        <td>{{allifquery.comments}}</td>
                    
                        </tr>

    <tr>
    <td>Created On</td>
    <td>{{allifquery.date|date:'d/m/Y'}}</td>

    </tr>
               
     
        </tbody>
        </table>
      
      </div>
    </div>
      
      </div><!--end of row div --->
        
          </div>
          <hr>

</div><!--end....table row-->

</div><!--end of main container of the page....-->

  {% block scripts %}

  {% endblock %}
   {% endblock %}
   







