{% load static %}
<link rel="shortcut icon" href='{% static "allifapperp/css/images/allifmaal-icon.png" %}' type="png/ico">
<!DOCTYPE html>
<html>
<head>
<title>
{% block title %}
<!--the title of each page will be displayed here.....-->
{% endblock %}
</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--the lib below is very important for the top nav bar opening and closing icon... so keep it there.-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link href="{% static 'allifapperp/css/navbars/sidetopnavbars.css' %}" rel="stylesheet">
<link href="{% static 'allifapperp/css/body/mainbodyui.css' %}" rel="stylesheet">
<!--any styles loaded from the static files are to be included here...-->


{% block style %}

<!--add any custom styling here.......-->

{% endblock %}

</head>
<body class="allifmaal-ui-body">
<!--below includes the side and top nav bars and their styles...-->

{% include 'allifmaalcommonapp/base/sidetopnavbars/sidetopnavbars.html' %}

<!--if there is no internet, the app will use the lib in the specified path in the static folder... otherwise it will use the cdn-->
<!--this libs important for the opening of side menus-->
<script src="{% static 'allifapperp/js/common/jquery3.6.0.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!--below is for the dropdown of the select2 lib-->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

{% block body %}

<!--the page content will come here....-->

{% endblock %}

{% block scripts %}
<!-- some js script files here...dont write anything here in this file... -->

{% endblock %}
<!--Note... when you include a file, it will be available for all the pages in the app unlike the static case...-->

{% include 'allifmaalcommonapp/base/commonjs/common.js' %}

<script src="{% static 'allifapperp/js/common/common.js' %}"></script>

</body>
</html>
  

