{% extends 'allifmaalcommonapp/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}

<div class="allifmaincontainer">
  <!--start....main headere-->
<div class="card-header">
  <div class="row mt-12" ><!--start....header row-->
  <div class="col-md-12"><!--start....header column-->
  <div class="container-fluid amel-content-header">
    <a class="amel-table-list-identifier">Taxes:</a>
    <a href="{% url 'allifmaalcommonapp:commonHome' user_var glblslug %}">Home</a>
    <a href="{% url 'allifmaalcommonapp:commonTaxParameters' user_var glblslug %}">Taxes</a>
  <a href="{% url 'allifmaalcommonapp:commonTasks' user_var glblslug %}">Tasks</a>
   
  <div class="dropdown allifmaal-content-dropdown">
    <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Modules
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <div class="content-dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonCustomers' user_var glblslug %}">Customers</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonSuppliers' user_var glblslug %}">Suppliers</a></li>
    </div>
    </ul>
  </div>
  <a href="{% url 'allifmaalcommonapp:commonCompanies' user_var glblslug %}">Company</a>
  
  </div>
    </div><!--end....header column-->
    </div><!--end....header row-->
  </div><!--end....main headere-->

  <div class="allif-content-spacer"></div>

<div class="row mt-12"> <!--start....table row-->
  <div class="col-md-4"> <!--start....table column-->
        <div class="card-header">
          <div class="container-fluid amel-content-header">
            <div class="dropdown allifmaal-content-dropdown">
              <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Open Form
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <div class="content-dropdown-menu">
                <form method='POST' action=''>{% csrf_token %}
                <li><a class="dropdown-item">Add New Tax Parameter</a></li>
                <label>Tax Name</label> {{form.taxname}} 
                <label>Tax Description</label> {{form.taxdescription}} 
                <label>Tax Rate</label>{{form.taxrate}}
                <label>Tax Type </label> {{form.taxtype}}
                <input type="submit" value='Save' class="btn btn-success allifmaal-submit-btn">
              </form>
              </div>
              </ul>
            </div>
          </div>
          </div><!--end....main headere-->

          {% if update %}
  
  
<div class="allif-form-container">
  <div class="table-content-description"> Add New Tax Rate </div>
  <div class="allif-scroll-table">
    <div class="table-responsive allif-full-table">
    <table class="table table-layout">
     
      <tbody class="allif-table-body">
        <form method='POST' action=''>{% csrf_token %}
      <tr>
        
        <td>Tax Name</td>
        <td>{{form.taxname}}</td>
        </tr>
        <tr>
          <td>Description</td>
       
        <td>{{form.taxdescription}}</td>
        </tr>
        <tr>
          <td>Rate</td>
        <td>{{form.taxrate}}</td>
        </tr>
        <tr>
          <td>Type</td>
        <td>{{form.taxtype}}</td>
        </tr>
        <tr>
          <td>Action</td>
        
         <td><input type="submit" value='Save' class="btn btn-success allifmaal-submit-btn"></td>
         
        
      </tr>
      </form>
      </tbody>
    </table>
    </div>
   </div>
    </div><!--end of row div --->
    {% else %}
    <div class="allif-content-spacer"></div>
    <div class="allif-scroll-table">
      <div class="table-responsive allif-full-table">
      <table class="table table-layout">
        <thead>
          <tr class="allif-table-header-row">
          <td class="allif-fix-table-col">Tax Name</td>
          <td>Rate %</td>
          </tr>
          </thead>
          <tbody class="allif-table-body">
           
          {% for item in latest %} 
          <tr data-id="{{item.id}}">
          <td class="allif-fix-table-col"><a class="allif-table-links" href="">{{item.taxname}}</a></td>
        
         <td> {{item.taxrate}}</td>
        
        </tr>
        {% endfor %}
        </tbody>
      </table>
      </div>
     </div>

    {% endif %}
    
  </div><!--end....table column-->


  <div class="col-md-8"> <!--start....table column-->
  <div class="allif-scroll-table">
    <div class="table-responsive allif-full-table">
    <table class="table table-layout">
      <thead>
        <tr class="allif-table-header-row">
        <td class="allif-fix-table-col">Tax Name</td>
      
        <td>Tax Description</td>
        <td>Rate %</td>
        <td>Type</td>
        
        <td>Navigate</td>
        
        <td> . . . </td>
        <td></td>
        </tr>
        </thead>
        <tbody class="allif-table-body">
         
        
        {% for item in allifqueryset %} 
        <tr data-id="{{item.id}}">
        <td class="allif-fix-table-col"><a class="allif-table-links" href="">{{item.taxname}}</a></td>
       
       <td> {{item.taxdescription}}</td>
      
       <td> {{item.taxrate}}</td>
       <td> {{item.taxtype}}</td>
      
        <td>
          <div class="dropdown allifmaal-content-dropdown">
            <a href="#" onclick="showDropdown(event, this)" class="dropdown-toggle dropdown-item" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Options</a>
            <div class="dropdown-content">
              <a href="{% url 'allifmaalcommonapp:CommonUpdateTaxDetails' item.id user_var glblslug %}" class="dropdown-item" id="allif-table-drop-item-link">Edit Item</a>
              <a href="#" onclick="confirmDelete(this)" class="dropdown-item" id="allif-table-drop-item-link-delete">Delete Item </a>
              
            </div>
          </div>
          <div class="dropdown allif-confirm-action">
            
            <a href="{% url 'allifmaalcommonapp:commonAddCompanyScope' user_var glblslug %}" id="allif-confirm-delete">No</a><span><strong> | </strong></span>
            <a href="{% url 'allifmaalcommonapp:commonWantToDeleteTaxParameter' item.id user_var glblslug %}" id="allif-confirm-delete">Confirm</a>
          </div>



        </td>

       <td> . . . </td>
       <td></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
   </div>

</div><!--end....table column-->

</div><!--end....table row-->

<div class="row mt-12"> <!--start....table row-->
<div class="col-md-12"> <!--start....table column-->
<div class="allif-form-container">
<div class="table-content-description"> Add New Tax Rate </div>
<div class="allif-scroll-table">
  <div class="table-responsive allif-full-table">
  <table class="table table-layout">
    <thead>
      <tr class="allif-table-header-row">
      <td>Tax Name</td>
      <td>Tax Description</td>
      <td>Tax Rate %</td>
      <td>Tax Type</td>
      <td>Action</td>
      <td></td>
      </tr>
      </thead>
    <tbody class="allif-table-body">
    <tr>
      <form method='POST' action=''>{% csrf_token %}
      <td>{{form.taxname}}</td>
      <td>{{form.taxdescription}}</td>
      <td>{{form.taxrate}}</td>
      <td>{{form.taxtype}}</td>
      
       <td><input type="submit" value='Save' class="btn btn-success allifmaal-submit-btn"></td>
       <td></td>
      </form>
    </tr>
    </tbody>
  </table>
  </div>
 </div>
  </div><!--end of row div --->
  </div>
  </div>
 
</div>

  {% block scripts %}
 
  {% endblock %}
  {% endblock %}

