
{% load static %}
{% load humanize %}
<link rel="shortcut icon" href='{% static "allifmaalcommonapp/css/images/allifmaal-icon.png" %}' type="png/ico">
<!DOCTYPE html>
<html>
<head>
<title>
{% block title %}
<!--the title of each page will be displayed here.....-->
{% endblock %}
</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--the lib below is very important for the top nav bar opening and closing icon... so keep it there.-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link href="{% static 'allifapperp/css/navbars/sidetopnavbars.css' %}" rel="stylesheet">
<link href="{% static 'allifapperp/css/body/mainbodyui.css' %}" rel="stylesheet">

{% block style %}

<!--add any custom styling here.......-->

{% endblock %}

</head>
<body class="allifmaal-ui-body">
<!--below includes the side and top nav bars and their styles...-->

{% include 'allifmaalcommonapp/base/sidetopnavbars/sidetopnavbars.html' %}




<style>
  .wrapper {
  overflow-x:scroll;
 
}
table {
  table-layout: fixed; /*important*/
  width: 100%;
 
  
}

td, th {
  
  
  /*width:120px;*/
  
  width:7em;
  min-width:2em;
  max-width: 10em;

  
  
}
.allif-fix-table-col {
  position:sticky;
  background: rgb(243, 184, 184);
}
.allif-fix-table-col:first-child {
  left:0;
  width:7em;
  min-width:2em;
  max-width: 10em;
  background: rgb(243, 184, 184);
}
.allif-fix-table-col:last-child {
  right:0;
  width:7em;
  min-width:2em;
  max-width: 10em;
  background: rgb(243, 184, 184);
}
</style>

<br>
<hr>
    
<div class="allif-scroll-table wrapper"> 
  <table class="table table-layout">
  <thead>
    <tr class="allif-table-header-row" >
      <th class='allif-fix-table-col'>Col 1</th>
      <th>Col 2</th>
      <th>Col 3</th>
      <th>Col 4</th>
      <th>Col 5</th>
      <th>Col 1</th>
      <th>Col 2</th>
      <th>Col 3</th>
      <th>Col 4</th>
      <th>Col 5</th>
      <th>Col 1</th>
      <th>Col 2</th>
      <th>Col 3</th>
      <th>Col 4</th>
      <th>Col 5</th>
      <th>Col 1</th>
      <th>Col 2</th>
      <th>Col 3</th>
      <th>Col 4</th>
      <th class='allif-fix-table-col'>Col 5</th>
    </tr>
    </thead>
    <tbody class="allif-table-body">
     
    
      <tr>
        <td class='allif-fix-table-col'>Firt</td>
        <td>A1</td>
        <td>A2 </td>
        <td>A3</td>
        <td>A4</td>
        <td>A5</td>
        <td>A1</td>
        <td>A2 </td>
        <td>A3</td>
        <td>A4</td>
        <td>A4</td>
        <td>A1</td>
        <td>A2 </td>
        <td>A3</td>
        <td>A4</td>
        <td>A5</td>
        <td>A1</td>
        <td>A2 </td>
        <td>A3</td>
        <td class='allif-fix-table-col'>A4</td>
      
      
      </tr>
      <tr>
        <td class='allif-fix-table-col'>First </td>
        <td>B1</td>
        <td>B2</td>
        <td>B3</td>
        <td>B4</td>
        <td>B5</td>
        <td>B1</td>
        <td>B2</td>
        <td>B3</td>
        <td>B4</td>
       
       
      </tr>
      <tr>
        <td class='allif-fix-table-col'>First </td>
        <td>C1</td>
        <td>C2</td>
        <td>C3</td>
        <td>C4</td>
        <td>C5</td>
        <td>C1</td>
        <td>C2</td>
        <td>C3</td>
        <td>C4</td>
      
       
      </tr>
      <tr>
        <td class='allif-fix-table-col'>First </td>
        <td>C1</td>
        <td>C2</td>
        <td>C3</td>
        <td>C4</td>
        <td>C5</td>
        <td>C1</td>
        <td>C2</td>
        <td>C3</td>
        <td>C4</td>
      
       
      </tr>
      <tr>
        <td class='allif-fix-table-col'>First </td>
        <td>C1</td>
        <td>C2</td>
        <td>C3</td>
        <td>C4</td>
        <td>C5</td>
        <td>C1</td>
        <td>C2</td>
        <td>C3</td>
        <td>C4</td>
      
       
      </tr>
      <tr>
        <td class='allif-fix-table-col'>First </td>
        <td>C1</td>
        <td>C2</td>
        <td>C3</td>
        <td>C4</td>
        <td>C5</td>
        <td>C1</td>
        <td>C2</td>
        <td>C3</td>
        <td>C4</td>
      
       
      </tr>
      <tr>
        <td class='allif-fix-table-col'>First </td>
        <td>C1</td>
        <td>C2</td>
        <td>C3</td>
        <td>C4</td>
        <td>C5</td>
        <td>C1</td>
        <td>C2</td>
        <td>C3</td>
        <td>C4</td>
      
       
      </tr>
      <tr>
        <td class='allif-fix-table-col'>First </td>
        <td>C1</td>
        <td>C2</td>
        <td>C3</td>
        <td>C4</td>
        <td>C5</td>
        <td>C1</td>
        <td>C2</td>
        <td>C3</td>
        <td>C4</td>
      
       
      </tr>
      <tr>
        <td class='allif-fix-table-col'>First </td>
        <td>C1</td>
        <td>C2</td>
        <td>C3</td>
        <td>C4</td>
        <td>C5</td>
        <td>C1</td>
        <td>C2</td>
        <td>C3</td>
        <td>C4</td>
      
       
      </tr>
      <tr>
        <td class='allif-fix-table-col'>First </td>
        <td>C1</td>
        <td>C2</td>
        <td>C3</td>
        <td>C4</td>
        <td>C5</td>
        <td>C1</td>
        <td>C2</td>
        <td>C3</td>
        <td>C4</td>
      
       
      </tr>
      <tr>
        <td class='allif-fix-table-col'>First </td>
        <td>C1</td>
        <td>C2</td>
        <td>C3</td>
        <td>C4</td>
        <td>C5</td>
        <td>C1</td>
        <td>C2</td>
        <td>C3</td>
        <td>C4</td>
      
       
      </tr>
      <tr>
        <td class='allif-fix-table-col'>First </td>
        <td>C1</td>
        <td>C2</td>
        <td>C3</td>
        <td>C4</td>
        <td>C5</td>
        <td>C1</td>
        <td>C2</td>
        <td>C3</td>
        <td>C4</td>
      
       
      </tr>
      <tr>
        <td class='allif-fix-table-col'>First </td>
        <td>C1</td>
        <td>C2</td>
        <td>C3</td>
        <td>C4</td>
        <td>C5</td>
        <td>C1</td>
        <td>C2</td>
        <td>C3</td>
        <td>C4</td>
      
       
      </tr>
      <tr>
        <td class='allif-fix-table-col'>First </td>
        <td>C1</td>
        <td>C2</td>
        <td>C3</td>
        <td>C4</td>
        <td>C5</td>
        <td>C1</td>
        <td>C2</td>
        <td>C3</td>
        <td>C4</td>
      
       
      </tr>
      <tr>
        <td class='allif-fix-table-col'>First </td>
        <td>C1</td>
        <td>C2</td>
        <td>C3</td>
        <td>C4</td>
        <td>C5</td>
        <td>C1</td>
        <td>C2</td>
        <td>C3</td>
        <td>C4</td>
      
       
      </tr>
   
    </tbody>
      </table>
  
    </div>
    <hr>

</body>
</html>
  

