{% load static %}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Alifmaal ERP</title>
    <!-- Favicons back-to-top -->
    <link rel="shortcut icon" href='{% static "allifapperp/css/images/allifmaal-icon.png" %}' type="png/ico">
    <link href="{% static 'allifapperp/css/common/bootstrap.min.css' %}" rel="stylesheet">
    
  <!-- Template Main CSS File -->
    <link href="{% static 'allifapperp/css/website/website.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  </head>
  
  <body>
  
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
  
        <!-- image logo  -->
        <a href="" class="logo me-auto"><img src='{% static "allifapperp/css/images/allifmaal_logo.png" %}' alt="Allifmaal" class="img-fluid"></a>
    
        <!--uncomment below if you want to use word logo-->
        <!-- <h1 class="logo me-auto"><a href="">Allifmaal</a></h1> -->

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>
            <li><a class="nav-link scrollto" href="#modules">Modules</a></li>
            <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            <li><a class="getstarted scrollto" href="{% url 'allifmaalusersapp:userLoginPage' %}">Login</a></li>

          </ul>
          <i class="bi bi-list mobile-nav-toggle">Menu</i>
        </nav><!-- .navbar -->
      </div>
    </header><!-- End Header -->
  
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
  
      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
            <h1>Achieve your business goals with AI driven <span class="allifmaal-erp-styling">Allifmaal ERP</span>,
             
                the smarter way to manage your organization seamlessly.</h1>
            <h6>Digitize your deal, discover your dreams.</h6>
            <div class="d-flex justify-content-center justify-content-lg-start">
              <a href="#about" class="btn-get-started scrollto">About Allifmaal ERP</a>
             
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <img src="{% static 'allifapperp/css/images/hero-img.png' %}" class="img-fluid animated" alt="Allifmaal">
          </div>
        </div>
      </div>
  
    </section><!-- End Hero -->
  
    <main id="main">
  
      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>About Allifmaal ERP</h2>
          </div>
  
          <div class="row content">
            <div class="col-lg-6">
              <p>
                Allifmaal ERP is a leading world-class user friendly suite of business management applications for all types of companies and organizations.
                Being a cutting-edge ERP system, it was designed to streamline operations, enhance productivity, and drive growth.
              </p>

           
         
            <img src="{% static 'allifapperp/css/images/saas.webp' %}" class="img-fluid animated" alt="Allifmaal">
          
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">

              <p>
                Allifmaal ERP is meticulously developed by a team of experienced developers. Our developers bring years of expertise in software engineering, business processes, and industry best practices to create a robust and reliable ERP solution tailored to meet the diverse needs of modern businesses world.
              </p>
             
              <a href="#" class="btn-learn-more">Learn More</a>
              <div>
                <img src="{% static 'allifapperp/css/images/alliferp.webp' %}" class="img-fluid animated" alt="Allifmaal">
              </div>
            </div>
            
          </div>
  
        </div>
      </section><!-- End About Us Section -->

      
    
      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Allifmaal ERP Serves The Following Industries</h2>
          </div>
  
          <div class="row content">
            <div class="col-lg-6">
             
                      

          <ul>
            <li><i class="ri-check-double-line"></i><strong>Sales</strong> - Wholesale, Retail, Distribution, Direct Sales.</li>
            <li><i class="ri-check-double-line"></i><strong>Healthcare</strong> - Hospitals, Clinics, Pharmaceuticals, Insurances.</li>
            <li><i class="ri-check-double-line"></i><strong>Education</strong>- Schools, Colleges, Universities.</li>
            <li><i class="ri-check-double-line"></i><strong>Hospitality</strong> - Hotels, Restaurents, Events.</li>
            
          </ul>
         
           
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">

             
              <ul>
                <li><i class="ri-check-double-line"></i><strong>Finance</strong> - FinTech, Banking, Investments, Societies.</li>
                <li><i class="ri-check-double-line"></i><strong>Real Estate</strong> - Residential, Commercial, Industrial.</li>
                <li><i class="ri-check-double-line"></i><strong>Logistics</strong> - Transport, Travel Agencies, Courier, Freighters.</li>
                <li><i class="ri-check-double-line"></i><strong>Service</strong>- Consulting, Legal, Accounting, ICT.</li>
                
              </ul>
              
              <a href="#" class="btn-learn-more">Learn More</a>
              
            </div>
            
          </div>
  
        </div>
      </section><!-- End About Us Section -->
  
      <!-- ======= Why Us Section ======= -->
      <section id="why-us" class="why-us section-bg">
        
        <div class="container-fluid" data-aos="fade-up">
  
          <div class="row">
            <div class="content-why-allifmaal-erp">
              <h3>Why Choose Allifmaal ERP?</h3>
             
            </div>
  
            <div class="col-lg-6 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
  
              <div class="accordion-list">
                <ul>
                  <li>
                    <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>1</span>Comprehensive Integration<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                      <p>
                        Allifmaal ERP seamlessly integrates all essential business functions, including finance, HR, supply chain, and customer relationship management (CRM). This centralizes data, eliminates silos, and ensures that all departments work cohesively.
                      </p>
                    </div>
                  </li>
                  <li>
                    <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>2</span>Enhanced Automation<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                      <p>
                        Automating repetitive tasks like payroll, order processing, and reporting reduces manual errors and frees up your employees to focus on more strategic activities. This leads to increased productivity and efficiency in your organization.
                      </p>
                    </div>
                  </li>
                  <li>
                    <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>3</span>Real-Time Data and Reporting <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                      <p>
                        Allifmaal ERP provides real-time insights and analytics, enabling better decision-making. With up-to-date information at their fingertips, managers can quickly respond to market dynamics and optimize operations.
                      </p>
                    </div>
                  </li>
                  <li>
                    <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>4</span>Scalability and Flexibility<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                      <p>
                        As your business grows, Allifmaal ERP can scale with you. It offers the flexibility to add new modules and features as needed, ensuring that your system evolves with your business.
                      </p>
                    </div>
                  </li>
                  <li>
                    <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>5</span>Improved Data Security<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                      <p>
                        With robust security measures, Allifmaal ERP system protects sensitive data from unauthorized access. Centralized data storage also reduces the risk of data breaches and ensures compliance with industry regulations.
                      </p>
                    </div>
                  </li>
                 
                </ul>
              </div>
  
            </div>
            <div class="col-lg-6 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
              
             
  
              <div class="accordion-list">
                <ul>
                  
                  <li>
                    <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>6</span> Cost Savings<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                      <p>
                        By streamlining processes and improving efficiency, Allifmaal ERP system helps reduce operational costs. It minimizes the need for multiple software solutions and reduces the time spent on manual tasks.
                      </p>
                    </div>
                  </li>
                  <li>
                    <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>7</span>Better Customer Service<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                      <p>
                        With integrated CRM capabilities, Allifmaal ERP system helps manage customer interactions more effectively and efficiently. This leads to improved customer satisfaction and loyalty, as you can respond to their needs more quickly and accurately.
                      </p>
                    </div>
                  </li>

                  <li>
                    <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>8</span>Customization and Personalization<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                      <p>
                        Allifmaal ERP system can be tailored to meet the specific needs of your business. This customization ensures that the system aligns perfectly with your workflows and business processes.
                      </p>
                    </div>
                  </li>

                  <li>
                    <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>9</span> Vendor Support and Training<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                      <p>
                        Allifmaal ERP system comes with comprehensive support and training resources. This ensures that your team can quickly get up to speed and make the most of the system's features.
                      </p>
                    </div>
                  </li>

                  <li>
                    <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>10</span>User-Friendly<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                      <p>
                        As the saying goes, "Simplicity is a sign of maturity". Using Allifmaal, you will Enjoy an intuitive and easy-to-navigate experience.
                      </p>
                    </div>
                  </li>
                 
                </ul>
              </div>
            </div>
  
            <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("/static/img/why-us.png")' %} data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
          
          </div>
  
        </div>
        
      </section><!-- End Why Us Section -->
  
      <!-- ======= Skills Section ======= -->
      <section id="skills" class="skills">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
              <img src="{% static 'allifapperp/css/images/skills.png' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
              <h5>Allifmaal - A Suite of Business Management Applications</h5>
              <p class="fst-italic">
                Allifmaal is a suite of integrated applications that are designed to work seamlessly together to streamline your business operations.
              </p>
  
              <div class="skills-content">
  
               
              </div>
  
            </div>
          </div>
  
        </div>
      </section><!-- End Skills Section -->
  
      <!-- ======= Services Section ======= -->
      <section id="modules" class="services section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Allifmaal Modules</h2>
            <p>Allifmaal ERP comprises of the below sub-modules that work togther to achieve the goals of your organization.</p>
          </div>
  
          <div class="row">
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon" ><i class="bx bx-layer"></i></div>
                <h4><a href="">CRM</a></h4>
                <p>The Customer Relation Management module is used to manage customer related activities like customer registrations, customer payments
                  customer statements, customer account activities and much more.
                </p>
              </div>
            </div>
  
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-layer"></i></div>
                <h4><a href="">HRM</a></h4>
                <p>The Human Resource Management module is used to manage staff related activities like employees registrations, staff payments and benefits, salaries,
                  employee statements, employee account activities and much more.</p>
              </div>
            </div>
  
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-layer"></i></div>
                <h4><a href="">FRM</a></h4>
                <p>The Financial Resources Management module is used to manage finance related activities like accounts, payments, debts, credits, financial statments and much more.</p>
              </div>
            </div>
  
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-layer"></i></div>
                <h4><a href="">SRM</a></h4>
                <p>The Supplier Relation Management module is used to manage supplier related activities like supplier registrations, supplier payments
                  supplier statements, procurement, orders, supplier account activities and much more.</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Services Section -->
  
    
      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
  
        <div class="section-title">
          <h2>Allifmaal Galery</h2>
          <p>Feel the difference</p>
        </div>
  
          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-img"><img src="{% static 'allifapperp/css/images/settings.png' %}" class="img-fluid" alt=""></div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-img"><img src="{% static 'allifapperp/css/images/distribution-dashboard.png' %}" class="img-fluid" alt=""></div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-img"><img src="{% static 'allifapperp/css/images/customer-details.png' %}" class="img-fluid" alt=""></div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-img"><img src="{% static 'allifapperp/css/images/full-table.png' %}" class="img-fluid" alt=""></div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-img"><img src="{% static 'allifapperp/css/images/nus-table.png' %}" class="img-fluid" alt=""></div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-img"><img src="{% static 'allifapperp/css/images/stock-dash.png' %}" class="img-fluid" alt=""></div>
            </div>
          </div>
  
        </div>
      </section><!-- End Portfolio Section -->
  
      <!-- ======= Pricing Section ======= -->
      <section id="pricing" class="pricing">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Pricing</h2>
            <p>Get a competitive quotation from our dedicated team</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
              <div class="box">
                <h3>Startup Plan</h3>
                <h4><sup>$</sup>10<span>per month/user</span></h4>
                <div class="billed-annually">(Billed Annually)</div>
                
                <h5>Some of its features</h5>
                <ul>
                  <li><i class="bx bx-check"></i>Main Modules</li>
                  <li><i class="bx bx-check"></i> Cloud Protection</li>
                  <li><i class="bx bx-check"></i> Available in web-based</li>
                  
                </ul>
                <a href="#" class="buy-btn">Get in touch</a>
              </div>
            </div>
  
            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
              <div class="box featured">
                <h3>Business Plan</h3>
                <h4><sup>$</sup>20<span>per month/user</span></h4>
                <h5>Some of its features</h5>
                <ul>
                  <li><i class="bx bx-check"></i>Everything in Startup Plan</li>
                  <li><i class="bx bx-check"></i> Full training to users</li>
                  <li><i class="bx bx-check"></i> Main Modules accessable</li>
                  
                </ul>
                <a href="#" class="buy-btn">Get in touch</a>
              </div>
            </div>
  
            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
              <div class="box">
                <h3>Gold Plan</h3>
                <h4><sup>$</sup>50<span>per month/user</span></h4>
                <h5>Some of its features</h5>
                <ul>
                  <li><i class="bx bx-check"></i>Everything in Business Plan</li>
                  <li><i class="bx bx-check"></i> All Modules Accessable</li>
                  <li><i class="bx bx-check"></i> Initial Setup training</li>
                  <li><i class="bx bx-check"></i> Support Priority</li>
                  <li><i class="bx bx-check"></i> Cloudbased database</li>
                  <li><i class="bx bx-check"></i> Unlimited support</li>
                  <li><i class="bx bx-check"></i> Protection prioritization</li>
                  <li><i class="bx bx-check"></i> Unlimited consultancy</li>
                  <li><i class="bx bx-check"></i>Intelligence reports</li>
                 
                  
                </ul>
                <a href="#" class="buy-btn">Get in touch</a>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Pricing Section -->
  
      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Contact</h2>
            <p>Feel free to contact us for support and information.</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-5 d-flex align-items-stretch">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>Ecobank House, Niarobi</p>
                </div>
  
                <div class="email">
                  
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>info@allifmaal.com</p>
                  <i class="bi bi-envelope"></i>
                  <h4>Gmail:</h4>
                  <p>allifmaalengineering@gmail.com</p>
                </div>
  
                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+254722314212</p>
                </div>
  
              </div>
  
            </div>
  
            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
              
                <form method='POST' action="{% url 'allifmaalcommonapp:commonCustomerContacts' %}" role="form" class="html-contact-form" >{% csrf_token %}
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name">Your Name</label>
                    <input type="text" name="name" class="form-control" id="name" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name">Your Email</label>
                    <input type="email" class="form-control" name="email" id="email" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name">Subject</label>
                  <input type="text" class="form-control" name="subject" id="subject" required>
                </div>
                <div class="form-group">
                  <label for="name">Message</label>
                  <textarea class="form-control" name="message" rows="10" required></textarea>
                </div>
               
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->
  
    </main><!-- End #main -->
  
    <!-- ======= Footer ======= -->
    <footer id="footer">
    <hr>
      <div class="footer-top">
        <div class="container">
          <div class="row">

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Contacts</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#"><a href="#"><strong>Address:</strong>Ecobank House, Nairobi.</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#"><strong>Phone:</strong> +254722314212</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#"><strong>Email:</strong> info@allifmaal.com</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#"><strong>Gmail:</strong> allifmaalengineering@gmail.com</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#"><strong>Website:</strong> <a href="https://allifmaal.com/"> Allifmaal</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Business Applications</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">ERP Applications</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Software Solutions</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Mobile Applications</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Websites</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Social Networks</h4>
              <p>Follow us on</p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>Allifmaal</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
          Developed by <a href="https://allifmaal.com/">Allifmaal</a>
        </div>
      </div>
    </footer><!-- End Footer -->
  
    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i>Top</a>
  
    <script src="{% static 'allifapperp/js/website/website.js' %}"></script>
  </body>
  
  </html>