{% extends 'awards/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
   
{% block body %}

<div class="allifmaal-main-container">
<!--we can insert the other section here-->
 
  <!--start....main headere-->
  <div class="card-header">
    <div class="row mt-12" ><!--start....header row-->
    <div class="col-md-12"><!--start....header column-->
    <div class="container-fluid amel-content-header">
      {% if logged_user.is_superuser %}
      <a href="{% url 'awards:allifAdminHome' %}">Admin Home</a>
      {% elif logged_user.user_category == "owner" %}
      <a href="{% url 'awards:home' %}">GMA Home</a>
      {% endif %}

      <a href="{% url 'awards:categories' %}">Categories</a>
      <a href="{% url 'awards:companies' %}">Companies</a>
     
    </div>
      </div><!--end....header column-->
      </div><!--end....header row-->
    </div><!--end....main headere-->
    
<div class="allifmaincontainer">
   <!--start of first row-->
   <div class="row mt-12" >
      <div class="col-md-4">
      <div class="card">
      <div class="card-header allif-dashboard-card-header">
        Top 10 Categories. <span>Total: <strong>{{catcount}}</strong></span>
      </div>
  
      <div class="col-md-12">
      <div class="column allif-dashboard-card-body">
      

    <div class="allif-scroll-table">
      <div class="table-responsive allif-full-table">
      <table class="table table-layout">
        <thead>
          <tr class="allif-table-header-row">
          <td>Categories</td>
          <td>Votes</td>
          </tr>
          </thead>
          <tbody class="allif-table-body">
          {% for item in categories %} 
          <tr data-id="{{item.id}}">
          <td><a class="allif-table-links" href="{% url 'awards:categoryDetails' item.id %}">{{item.name}}</a></td>
          <td>
            {{item.votes|floatformat:2|intcomma}}
          </td>
         
    
      </tr>
      {% endfor %}
      
        </tbody>
      </table>
      </div>
     </div>
  

  </div>
  </div>
  
  
  </div>
  </div>
  
  <div class="col-md-4">
    <div class="card">
    <div class="card-header allif-dashboard-card-header">
      Top 10 Companies. <span>Total: <strong>{{compcount}}</strong></span>
    </div>

    <div class="col-md-12">
    <div class="column allif-dashboard-card-body">
    

  <div class="allif-scroll-table">
    <div class="table-responsive allif-full-table">
    <table class="table table-layout">
      <thead>
        <tr class="allif-table-header-row">
        <td>Companies</td>
        <td>Votes</td>
        </tr>
        </thead>
        <tbody class="allif-table-body">
         
        
        {% for item in companies %} 
        <tr data-id="{{item.id}}">
        <td><a class="allif-table-links" href="{% url 'awards:companyDetails' item.id %}">{{item.name}}</a></td>
       
        <td>
          {{item.votes|floatformat:2|intcomma}}
        </td>
    </tr>
    {% endfor %}
    
      </tbody>
    </table>
    </div>
   </div>


</div>
</div>


</div>
</div>

  
<div class="col-md-4">
    <div class="card">
    <div class="card-header allif-dashboard-card-header">
      Top 10 Voters. <span>Total: <strong>{{voterscount}}</strong></span>
    </div>

    <div class="col-md-12">
    <div class="column allif-dashboard-card-body">
    

  <div class="allif-scroll-table">
    <div class="table-responsive allif-full-table">
    <table class="table table-layout">
      <thead>
        <tr class="allif-table-header-row">
        <td>Name</td>
       
        <td>Votes</td>
    
        </tr>
        </thead>
        <tbody class="allif-table-body">
         
        
        {% for item in allifqueryset %} 
        <tr data-id="{{item.id}}">
        <td><a class="allif-table-links" href="{% url 'loginapp:userDetails' item.id %}">{{item.first_name}}</a></td>
       
        <td>
          {{item.castedvotes|floatformat:2|intcomma}}
        </td>
    </tr>
    {% endfor %}
    
      </tbody>
    </table>
    </div>
   </div>


</div>
</div>


</div>
</div>

  </div>
  
  <!--end of first row-->
  
  <!--start of second row-->
  
   <!--start of first row-->
   <div class="row mt-12" >
    <div class="col-md-4">
        <div class="card">
        <div class="card-header allif-dashboard-card-header">
          Top 10 Golden Sponsors. <span>Total: <strong>{{sponsorscount}}</strong></span>
        </div>
    
        <div class="col-md-12">
        <div class="column allif-dashboard-card-body">
        
  
      <div class="allif-scroll-table">
        <div class="table-responsive allif-full-table">
        <table class="table table-layout">
          <thead>
            <tr class="allif-table-header-row">
            <td>Sponsors</td>
           
            <td>Amounts</td>
        
            </tr>
            </thead>
            <tbody class="allif-table-body">
             
            
            {% for item in sponsors %} 
            <tr data-id="{{item.id}}">
            <td><a class="allif-table-links" href="{% url 'awards:sponsorDetails' item.id %}">{{item.name}}</a></td>
           
           
        <td>
          {{item.amount|floatformat:2|intcomma}}
        </td>
        </tr>
        {% endfor %}
        
          </tbody>
        </table>
        </div>
       </div>
    
  
    </div>
    </div>
    
    
    </div>
    </div>
    
  
    <div class="col-md-4">
        <div class="card">
        <div class="card-header allif-dashboard-card-header">
          Top 10 Highest Expenses. <span>Total: <strong>{{expensescount}}</strong></span>
        </div>
    
        <div class="col-md-12">
        <div class="column allif-dashboard-card-body">
        
  
      <div class="allif-scroll-table">
        <div class="table-responsive allif-full-table">
        <table class="table table-layout">
          <thead>
            <tr class="allif-table-header-row">
            <td>Description</td>
           
            <td>Amount</td>
        
            </tr>
            </thead>
            <tbody class="allif-table-body">
             
            
            {% for item in expenses %} 
            <tr data-id="{{item.id}}">
            <td><a class="allif-table-links" href="{% url 'awards:expenseDetails' item.id %}">{{item.description}}</a></td>
              
        <td>
          {{item.amount|floatformat:2|intcomma}}
        </td>
        </tr>
        {% endfor %}
        
          </tbody>
        </table>
        </div>
       </div>
    
  
    </div>
    </div>
    
    
    </div>
    </div>
    
    <div class="col-md-4">
        <div class="card">
        <div class="card-header allif-dashboard-card-header">
          10 Latest Votes. <span>Total: <strong>{{votescount}}</strong></span>
        </div>
    
        <div class="col-md-12">
        <div class="column allif-dashboard-card-body">
        
  
      <div class="allif-scroll-table">
        <div class="table-responsive allif-full-table">
        <table class="table table-layout">
          <thead>
            <tr class="allif-table-header-row">
            <td>Voter</td>
           
            <td>Date</td>
         
            </tr>
            </thead>
            <tbody class="allif-table-body">
             
            
            {% for item in votes %} 
            <tr data-id="{{item.id}}">
            <td><a class="allif-table-links" href="{% url 'awards:voteDetails' item.id %}">{{item.voter}}</a></td>
           
            <td>
                {{item.date|date:'d/m/Y'}}
              </td>
          
           
        </tr>
        {% endfor %}
        
          </tbody>
        </table>
        </div>
       </div>
    
  
    </div>
    </div>
    
    
    </div>
    </div>
    
  </div>
  
  <!--end of first row-->
  
  <!--start of second row-->
  
 

</div><!--end of main container of the page-->


 
<!--we can insert the other section here...-->

</div>
   

   {% endblock %}
   