{% extends 'awards/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
   
{% block body %}

<div class="allifmaal-main-container">
<!--we can insert the other section here-->
 
  <!--start....main headere-->
  <div class="card-header">
    <div class="row mt-12" ><!--start....header row-->
    <div class="col-md-12"><!--start....header column-->
    <div class="container-fluid amel-content-header">
      {% if logged_user.is_superuser %}
      <a href="{% url 'awards:allifAdminHome' %}">Admin Home</a>
      {% elif logged_user.user_category == "owner" %}
      <a href="{% url 'awards:home' %}">GMA Home</a>
      {% endif %}

      <a href="{% url 'awards:categories' %}">Categories</a>
      <a href="{% url 'awards:companies' %}">Companies</a>
     
    </div>
      </div><!--end....header column-->
      </div><!--end....header row-->
    </div><!--end....main headere-->
    
<div class="allifmaincontainer">
   <!--start of first row-->
   <div class="row mt-12" >
      <div class="col-md-4">
      <div class="card">
      <div class="card-header allif-dashboard-card-header">
        Latest voters 
      </div>
  
      <div class="col-md-12">
      <div class="column allif-dashboard-card-body">
      

    <div class="allif-scroll-table">
      <div class="table-responsive allif-full-table">
      <table class="table table-layout">
        <thead>
          <tr class="allif-table-header-row">
          <td>Category Name</td>
         
          <td>Creation On</td>
         
          <td>Navigate</td>
          
          <td> . . . </td>
          <td></td>
          </tr>
          </thead>
          <tbody class="allif-table-body">
           
          
          {% for item in allifqueryset %} 
          <tr data-id="{{item.id}}">
          <td><a class="allif-table-links" href="{% url 'awards:categoryDetails' item.id %}">{{item.name}}</a></td>
         
          <td>
              {{item.date|date:'d/m/Y'}}
            </td>
        
          <td>
            <div class="dropdown allifmaal-content-dropdown">
              <a href="#" onclick="showDropdown(event, this)" class="dropdown-toggle dropdown-item" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Options</a>
              <div class="dropdown-content">
                <a href="{% url 'awards:editCategory' item.id %}" class="dropdown-item" id="allif-table-drop-item-link">Edit Item</a>
                <a href="#" onclick="confirmDelete(this)" class="dropdown-item" id="allif-table-drop-item-link-delete">Delete Item</a>
                
              </div>
            </div>
            <div class="dropdown allif-confirm-action">
              
              <a href="{% url 'awards:categories' %}" id="allif-table-drop-item-link">No</a><span><strong> | </strong></span>
              <a href="{% url 'awards:deleteCategory' item.id %}" id="allif-confirm-delete">Confirm</a>
            </div>
  
           
          </td>
  
         <td> . . . </td>
         <td></td>
        
    
      </tr>
      {% endfor %}
      
        </tbody>
      </table>
      </div>
     </div>
  

  </div>
  </div>
  
  
  </div>
  </div>
  
  <div class="col-md-4">
    <div class="card">
    <div class="card-header allif-dashboard-card-header">
      Latest voters
    </div>

    <div class="col-md-12">
    <div class="column allif-dashboard-card-body">
    

  <div class="allif-scroll-table">
    <div class="table-responsive allif-full-table">
    <table class="table table-layout">
      <thead>
        <tr class="allif-table-header-row">
        <td>Category Name</td>
       
        <td>Creation On</td>
       
        <td>Navigate</td>
        
        <td> . . . </td>
        <td></td>
        </tr>
        </thead>
        <tbody class="allif-table-body">
         
        
        {% for item in allifqueryset %} 
        <tr data-id="{{item.id}}">
        <td><a class="allif-table-links" href="{% url 'awards:categoryDetails' item.id %}">{{item.name}}</a></td>
       
        <td>
            {{item.date|date:'d/m/Y'}}
          </td>
      
        <td>
          <div class="dropdown allifmaal-content-dropdown">
            <a href="#" onclick="showDropdown(event, this)" class="dropdown-toggle dropdown-item" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Options</a>
            <div class="dropdown-content">
              <a href="{% url 'awards:editCategory' item.id %}" class="dropdown-item" id="allif-table-drop-item-link">Edit Item</a>
              <a href="#" onclick="confirmDelete(this)" class="dropdown-item" id="allif-table-drop-item-link-delete">Delete Item</a>
              
            </div>
          </div>
          <div class="dropdown allif-confirm-action">
            
            <a href="{% url 'awards:categories' %}" id="allif-table-drop-item-link">No</a><span><strong> | </strong></span>
            <a href="{% url 'awards:deleteCategory' item.id %}" id="allif-confirm-delete">Confirm</a>
          </div>

         
        </td>

       <td> . . . </td>
       <td></td>
      
  
    </tr>
    {% endfor %}
    
      </tbody>
    </table>
    </div>
   </div>


</div>
</div>


</div>
</div>

  
<div class="col-md-4">
    <div class="card">
    <div class="card-header allif-dashboard-card-header">
      Latest voters
    </div>

    <div class="col-md-12">
    <div class="column allif-dashboard-card-body">
    

  <div class="allif-scroll-table">
    <div class="table-responsive allif-full-table">
    <table class="table table-layout">
      <thead>
        <tr class="allif-table-header-row">
        <td>Category Name</td>
       
        <td>Creation On</td>
       
        <td>Navigate</td>
        
        <td> . . . </td>
        <td></td>
        </tr>
        </thead>
        <tbody class="allif-table-body">
         
        
        {% for item in allifqueryset %} 
        <tr data-id="{{item.id}}">
        <td><a class="allif-table-links" href="{% url 'awards:categoryDetails' item.id %}">{{item.name}}</a></td>
       
        <td>
            {{item.date|date:'d/m/Y'}}
          </td>
      
        <td>
          <div class="dropdown allifmaal-content-dropdown">
            <a href="#" onclick="showDropdown(event, this)" class="dropdown-toggle dropdown-item" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Options</a>
            <div class="dropdown-content">
              <a href="{% url 'awards:editCategory' item.id %}" class="dropdown-item" id="allif-table-drop-item-link">Edit Item</a>
              <a href="#" onclick="confirmDelete(this)" class="dropdown-item" id="allif-table-drop-item-link-delete">Delete Item</a>
              
            </div>
          </div>
          <div class="dropdown allif-confirm-action">
            
            <a href="{% url 'awards:categories' %}" id="allif-table-drop-item-link">No</a><span><strong> | </strong></span>
            <a href="{% url 'awards:deleteCategory' item.id %}" id="allif-confirm-delete">Confirm</a>
          </div>

         
        </td>

       <td> . . . </td>
       <td></td>
      
  
    </tr>
    {% endfor %}
    
      </tbody>
    </table>
    </div>
   </div>


</div>
</div>


</div>
</div>

  </div>
  
  <!--end of first row-->
  
  <!--start of second row-->
  
   <!--start of first row-->
   <div class="row mt-12" >
    <div class="col-md-4">
        <div class="card">
        <div class="card-header allif-dashboard-card-header">
          Latest voters
        </div>
    
        <div class="col-md-12">
        <div class="column allif-dashboard-card-body">
        
  
      <div class="allif-scroll-table">
        <div class="table-responsive allif-full-table">
        <table class="table table-layout">
          <thead>
            <tr class="allif-table-header-row">
            <td>Category Name</td>
           
            <td>Creation On</td>
           
            <td>Navigate</td>
            
            <td> . . . </td>
            <td></td>
            </tr>
            </thead>
            <tbody class="allif-table-body">
             
            
            {% for item in allifqueryset %} 
            <tr data-id="{{item.id}}">
            <td><a class="allif-table-links" href="{% url 'awards:categoryDetails' item.id %}">{{item.name}}</a></td>
           
            <td>
                {{item.date|date:'d/m/Y'}}
              </td>
          
            <td>
              <div class="dropdown allifmaal-content-dropdown">
                <a href="#" onclick="showDropdown(event, this)" class="dropdown-toggle dropdown-item" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Options</a>
                <div class="dropdown-content">
                  <a href="{% url 'awards:editCategory' item.id %}" class="dropdown-item" id="allif-table-drop-item-link">Edit Item</a>
                  <a href="#" onclick="confirmDelete(this)" class="dropdown-item" id="allif-table-drop-item-link-delete">Delete Item</a>
                  
                </div>
              </div>
              <div class="dropdown allif-confirm-action">
                
                <a href="{% url 'awards:categories' %}" id="allif-table-drop-item-link">No</a><span><strong> | </strong></span>
                <a href="{% url 'awards:deleteCategory' item.id %}" id="allif-confirm-delete">Confirm</a>
              </div>
    
             
            </td>
    
           <td> . . . </td>
           <td></td>
          
      
        </tr>
        {% endfor %}
        
          </tbody>
        </table>
        </div>
       </div>
    
  
    </div>
    </div>
    
    
    </div>
    </div>
    
  
    <div class="col-md-4">
        <div class="card">
        <div class="card-header allif-dashboard-card-header">
          Latest voters
        </div>
    
        <div class="col-md-12">
        <div class="column allif-dashboard-card-body">
        
  
      <div class="allif-scroll-table">
        <div class="table-responsive allif-full-table">
        <table class="table table-layout">
          <thead>
            <tr class="allif-table-header-row">
            <td>Category Name</td>
           
            <td>Creation On</td>
           
            <td>Navigate</td>
            
            <td> . . . </td>
            <td></td>
            </tr>
            </thead>
            <tbody class="allif-table-body">
             
            
            {% for item in allifqueryset %} 
            <tr data-id="{{item.id}}">
            <td><a class="allif-table-links" href="{% url 'awards:categoryDetails' item.id %}">{{item.name}}</a></td>
           
            <td>
                {{item.date|date:'d/m/Y'}}
              </td>
          
            <td>
              <div class="dropdown allifmaal-content-dropdown">
                <a href="#" onclick="showDropdown(event, this)" class="dropdown-toggle dropdown-item" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Options</a>
                <div class="dropdown-content">
                  <a href="{% url 'awards:editCategory' item.id %}" class="dropdown-item" id="allif-table-drop-item-link">Edit Item</a>
                  <a href="#" onclick="confirmDelete(this)" class="dropdown-item" id="allif-table-drop-item-link-delete">Delete Item</a>
                  
                </div>
              </div>
              <div class="dropdown allif-confirm-action">
                
                <a href="{% url 'awards:categories' %}" id="allif-table-drop-item-link">No</a><span><strong> | </strong></span>
                <a href="{% url 'awards:deleteCategory' item.id %}" id="allif-confirm-delete">Confirm</a>
              </div>
    
             
            </td>
    
           <td> . . . </td>
           <td></td>
          
      
        </tr>
        {% endfor %}
        
          </tbody>
        </table>
        </div>
       </div>
    
  
    </div>
    </div>
    
    
    </div>
    </div>
    
    <div class="col-md-4">
        <div class="card">
        <div class="card-header allif-dashboard-card-header">
          Latest voters
        </div>
    
        <div class="col-md-12">
        <div class="column allif-dashboard-card-body">
        
  
      <div class="allif-scroll-table">
        <div class="table-responsive allif-full-table">
        <table class="table table-layout">
          <thead>
            <tr class="allif-table-header-row">
            <td>Category Name</td>
           
            <td>Creation On</td>
           
            <td>Navigate</td>
            
            <td> . . . </td>
            <td></td>
            </tr>
            </thead>
            <tbody class="allif-table-body">
             
            
            {% for item in allifqueryset %} 
            <tr data-id="{{item.id}}">
            <td><a class="allif-table-links" href="{% url 'awards:categoryDetails' item.id %}">{{item.name}}</a></td>
           
            <td>
                {{item.date|date:'d/m/Y'}}
              </td>
          
            <td>
              <div class="dropdown allifmaal-content-dropdown">
                <a href="#" onclick="showDropdown(event, this)" class="dropdown-toggle dropdown-item" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Options</a>
                <div class="dropdown-content">
                  <a href="{% url 'awards:editCategory' item.id %}" class="dropdown-item" id="allif-table-drop-item-link">Edit Item</a>
                  <a href="#" onclick="confirmDelete(this)" class="dropdown-item" id="allif-table-drop-item-link-delete">Delete Item</a>
                  
                </div>
              </div>
              <div class="dropdown allif-confirm-action">
                
                <a href="{% url 'awards:categories' %}" id="allif-table-drop-item-link">No</a><span><strong> | </strong></span>
                <a href="{% url 'awards:deleteCategory' item.id %}" id="allif-confirm-delete">Confirm</a>
              </div>
    
             
            </td>
    
           <td> . . . </td>
           <td></td>
          
      
        </tr>
        {% endfor %}
        
          </tbody>
        </table>
        </div>
       </div>
    
  
    </div>
    </div>
    
    
    </div>
    </div>
    
  </div>
  
  <!--end of first row-->
  
  <!--start of second row-->
  
 

</div><!--end of main container of the page-->


 
<!--we can insert the other section here...-->

</div>
   

   {% endblock %}
   