{% extends 'allifmaalcommonapp/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}
<div class="allifmaal-main-container">

  <!--start....main headere-->
<div class="card-header">
  <div class="row mt-12" ><!--start....header row-->
  <div class="col-md-12"><!--start....header column-->
  <div class="container-fluid amel-content-header">
    <a class="amel-table-list-identifier">Sectors:</a>
    <a href="{% url 'allifmaalcommonapp:commonHome' user_var glblslug %}">Home</a>
    <a href="{% url 'allifmaaladminapp:adminappHome' user_var glblslug %}"> Admin Home</a>
    <a href="{% url 'allifmaalcommonapp:commonSectors' user_var glblslug %}">Sectors </a>
    <a href="{% url 'allifmaalcommonapp:dynamic_form_view' %}">Dynamic form</a>

    
    <a class="allif-load-content-button" type="button">Load Sectors</a>

  <div class="dropdown allifmaal-content-dropdown">
    <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Modules
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <div class="content-dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonCustomers' user_var glblslug %}">Customers</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonSuppliers' user_var glblslug %}">Suppliers</a></li>
    </div>
    </ul>
  </div>
  <a href="{% url 'allifmaalcommonapp:commonCompanies' user_var glblslug %}">Company</a>
  
  </div>
    </div><!--end....header column-->
    </div><!--end....header row-->
  </div><!--end....main headere-->
  <div class="allifmaincontainer">
  <div class="allif-content-spacer"></div>
  <div class="row mt-12"> <!--start....table row-->
    <div class="col-md-12"> <!--start....table column-->
    <div class="allif-scroll-table">
      <div class="table-responsive allif-full-table">
      <table class="table table-layout">
        <thead>
          <tr class="allif-table-header-row">
          <td class="allif-fix-table-col">Sector Name</td>
          <td>Sector Notes</td>
          <td>Created By</td>
          <td>Date</td>
          
          <td>Actions</td>
          
          <td> . . . </td>
          <td></td>
          </tr>
          </thead>
          <tbody class="allif-table-body">
              
            {% if myallifquery %}
            <tr>
             
              <td id="allif-delete-on-table-row"> Delete {{myallifquery.name}} ?</td>
             
              <td id="allif-delete-on-table-row">{{myallifquery.notes}}</td>
              <td id="allif-delete-on-table-row">{{myallifquery.owner}}</td>
  
              
              <td id="allif-delete-on-table-row">{{myallifquery.date|date:'d/m/Y'}}</td>
              <td>
                <div class="dropdown allifmaal-content-dropdown">
                  <a class="dropdown-toggle dropdown-item" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    {{open_link}}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <div class="content-dropdown-menu">
                    <li><a class="dropdown-item" id="allif-table-drop-item-link" href="{% url 'allifmaalcommonapp:commonSectors' user_var glblslug %}">Dont Delete</a></li>
                    <li><a class="dropdown-item" id="allif-table-drop-item-link-delete" href="{% url 'allifmaalcommonapp:commonSectorDelete' myallifquery.id %}">Delete Item</a></li>
                  </div>
                  </ul>
                </div>
              </td>
              <td> . . . </td>
              <td></td>
             
            </tr>
            {% endif %}
          
          {% for item in allifqueryset %} 
          <tr data-id="{{item.id}}">
          <td class="allif-fix-table-col"><a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonSectorDetails' item.id user_var glblslug %}">{{item.name}}</a></td>
          <td>{{item.notes}}</td>
          <td>{{item.owner}}</td>
          <td>{{item.date|date:'d/m/Y'}}</td>
          <td>
            <div class="dropdown allifmaal-content-dropdown">
              <a class="dropdown-toggle dropdown-item" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            {{open_link}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <div class="content-dropdown-menu">
                <li><a class="dropdown-item" id="allif-table-drop-item-link" href="{% url 'allifmaalcommonapp:commonEditSector' item.id user_var glblslug %}">Edit Item</a></li>
                <li><a class="dropdown-item" id="allif-table-drop-item-link-delete" href="{% url 'allifmaalcommonapp:commonWantToDeleteSector' item.id user_var glblslug %}">Delete Item</a></li>
               
              </div>
              </ul>
            </div>
          </td>

        
         <td> . . . </td>
         <td></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      </div>
     </div>

  </div><!--end....table column-->

</div><!--end....table row-->



<div class="row mt-12"> <!--start....table row-->
  <div class="col-md-12"> <!--start....table column-->
  <div class="allif-scroll-table">
    <div class="table-responsive allif-full-table">
    <table class="table table-layout">
      <thead>
        <tr class="allif-table-header-row">
        <td class="allif-fix-table-col">Sector Name</td>
        <td>Sector Notes</td>
        <td>Created By</td>
        <td>Date</td>
        
        <td>Actions</td>
        
        <td> . . . </td>
        <td></td>
        </tr>
        </thead>
        <tbody class="allif-table-body">
         
        
        {% for item in allifqueryset %} 
        <tr data-id="{{item.id}}">
        <td class="allif-fix-table-col"><a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonSectorDetails' item.id user_var glblslug %}">{{item.name}}</a></td>
        <td>{{item.notes}}</td>
        <td>{{item.owner}}</td>
        <td>{{item.date|date:'d/m/Y'}}</td>
       
        <td>
          <div class="dropdown allifmaal-content-dropdown">
            <a href="#" onclick="showDropdown(event, this)" class="dropdown-toggle dropdown-item" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Options</a>
            <div class="dropdown-content">
              <a href="{% url 'allifmaalcommonapp:commonSectors' user_var glblslug %}" class="dropdown-item" id="allif-table-drop-item-link">Sectors</a>
              <a href="#" onclick="confirmDelete(this)" class="dropdown-item" id="allif-table-drop-item-link-delete">Delete</a>
              
            </div>
          </div>
          <div class="dropdown allif-confirm-action">
            
            <a href="{% url 'allifmaalcommonapp:commonSectors' user_var glblslug %}" id="allif-confirm-delete">No</a><span><strong> | </strong></span>
            <a href="{% url 'allifmaalcommonapp:commonSectorDelete' item.id %}" id="allif-confirm-delete">Confirm</a>
          </div>




        </td>

       <td> . . . </td>
       <td></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
   </div>

</div><!--end....table column-->

</div><!--end....table row-->




<div class="allif-form-container">
<div class="table-content-description"> Add New Sector </div>
<div class="allif-scroll-table">
  <div class="table-responsive allif-full-table">
  <table class="table table-layout">
    <tbody class="allif-table-body">
    <tr>
      <form method='POST' action=''>{% csrf_token %}
      <td>{{form.name}}</td>
      <td>{{form.notes}}</td>
       <td><input type="submit" value='Save' class="btn btn-success allifmaal-submit-btn"></td>
      </form>
    </tr>
    </tbody>
  </table>
  </div>
 </div>
  </div><!--end of row div --->


<div class="allif-loading-new-content">
<div class="allif-load-content-here">Load Sectors</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const buttons = document.querySelectorAll('.allif-load-content-button');

        buttons.forEach(function(button) {
            button.addEventListener('click', function() {
                const targetDiv = document.querySelector('.allif-load-content-here'); //select the first target div.

                if (targetDiv.classList.contains('hidden')) {
                    fetch("{% url 'allifmaalcommonapp:commonLoadContentTest' %}")
                        .then(response => response.text())
                        .then(html => {
                            targetDiv.innerHTML = html;
                            targetDiv.classList.remove('hidden');
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            targetDiv.innerHTML = '<p>Error loading content.</p>';
                        });
                } else {
                    targetDiv.classList.add('hidden');
                    targetDiv.innerHTML = "";
                }
            });
        });
    });

</script>
</div>

</div>

</div>
  {% block scripts %}
 
  {% endblock %}
  {% endblock %}


