
<div class="allifmaincontainer">
    <div class="row mt-12"> <!--start....table row-->
      <div class="table-details-content-description">Covered Sectors</div>
      <div class="col-md-12"> <!--start....table column-->
      <div class="allif-scroll-table">
        <div class="allif-info-tables">
          <div class="row"><!--start of row div --->
      <!--start of column two-->
      <div class="col-md-4">
        
          <!--start of the table here-->
          <div class="table-responsive">
          <table class="table table-layout">
          <tbody>
          <tr>
            <td class="allif-fix-table-col">Sales & Distribution Entities</td>
            <td>Sales</td>
        
            </tr>
            <tr>
              <td class="allif-fix-table-col">Healthcare Entities</td>
              <td>Healthcare</td>
          
              </tr>
              <tr>
                <td class="allif-fix-table-col">Service Industry</td>
                <td class="allif-fix-table-col">Services</td>
                
               
                </tr>
            </tbody>
            </table>
          </div>
            </div>
               
        
         <!--start of column two-->
         <div class="col-md-4">
           <!--start of the table here-->
           <div class="allif-details-card table-responsive">
           <table class="table table-layout">
            <tbody>
           
            <tr>
                <td class="allif-fix-table-col">Education Entities</td>
                <td>Education</td>
            
                </tr>
                <tr>
                    <td class="allif-fix-table-col">Hotels, Restaurents, Resorts, Events etc</td>
                    <td>Hospitality</td>
                
                    </tr>
              </tbody>
              </table>
              </div>
              </div>
        
        
         <!--start of column two-->
         <div class="col-md-4">
          <div class="allif-details-card table-responsive">
           <!--start of the table here-->
           <table class="table table-layout">
            <tbody>
                <tr>
                    <td class="allif-fix-table-col">Real Estates & Properties</td>
                    <td class="allif-fix-table-col">Realestate</td>
                    
                   
                    </tr>
                    <tr>
                        <td class="allif-fix-table-col">Logistics, Travel, Transportation</td>
                        <td class="allif-fix-table-col">Logistics</td>
                        
                       
                        </tr>
                  
           
              </tbody>
              </table>
      </div>
        </div>
        </div><!--end of row div --->
          
            </div>
    
    </div><!--end....table row-->
    </div>
    <!--end of table-->
    
    </div><!--end of main container of the page....-->
  </div>