/*........................ IMPORTANT NOTES ........................*/
/*......................... DATE: 17th MAY 2024 ..................*/
/*......................... DEVELOPER: AHMED MUSE DIRIYE QOORYARE..................*/
/*.....Kindly read these notes before making any changes to this file.....*/
/*this file contains three hidden side nav bars with dropdown links...*/
/*we can add as many links as we wish...*/
:root {
  --main-background-color: #F6F7F8;
  --main-text-font-size:1em;
  --headings-font-size:1.2em;
  --main-font-type:system-ui,Helvetica, sans-serif,sans-serif,Arial,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
  --main-green-color:#07891c;
  --main-blue-color:#3d22a7;
  --main-black-color:#0a0a0a;
  --main-table-links-color:#04010f;
  --main-red-color:#bd0303;
  --links-on-hover-text-color:#3a0bf7;
  --button-on-hover-color:#eeeeee;
  --box-shadow-specs:0em 0em 0.5em #858585;
  --bottom-border-line:1px solid #dfdede;
  --padding-spec:0.3em 0.3em 0.3em 0.3em;
  --btn-hover-bg-color:#eee;
  --table-list-identifier:#0314f8;
  --main-border-line:1px solid #18b703;
  --main-delete-color-background:#e17639;
  --main-white-color:#fff;
  --main-content-spacer-margins: 5px 2px 3px 4px;
  --main-spacer-height:2px;
  --main-width:100%;
  --main-border-radius:3px;
  --main-fixed-col-bg-clr:#f0f0f0;
  
      }
      
  * {
      font-family: var(--main-font-type);
  }
  
::placeholder {
text-align: center;
}
.allifmaal-ui-body {
  background-color: var(--main-background-color);
  font-size: var(--main-text-font-size);
  opacity: 1;
  position:sticky;
  text-align: left;
  max-width: 100%; 
  max-height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  top:0em;
  margin: 0px;
 
  }

.amel-content-header{
  background-color:var(--main-background-color);
  padding: 0.1em;
  box-shadow: var(--box-shadow-specs);
  position:relative;/*fixed position will cause overlap of dropdown items*/
  margin-top: 0.2em;
  }
.amel-content-header a{
  color: var(--main-black-color);
  font-family: var(--main-font-type);
  float: none;
  display: inline-block;
  text-align: left;
  padding:var(--padding-spec);
  text-decoration: none;
  font-size: var(--main-text-font-size);
  border: none;
  background-color:var(--main-background-color);
  font-weight:normal;
  }
  .amel-content-header a:hover{
    color: var(--links-on-hover-text-color);

  }
  a.amel-table-list-identifier {
    color: var(--table-list-identifier);
    font-style: italic;
  }
  .allifmaal-content-dropdown{
    overflow: auto;
    margin-left: 1px;
    display: inline;
   
  }
 
  .allifmaal-main-container {
    background-color: var(--main-background-color);

  }
  .content-dropdown-menu{
    border: 0.1em solid var(--main-blue-color);
    margin: 0.1em;
    padding: 0.1em;
    border-radius: 0.2em;
    box-shadow: var(--box-shadow-specs);
    height: 20em;
    overflow: auto;
    max-height: fit-content;
    max-width: 20em;
    width:fit-content;
    display: inline-block;
    margin-top: 0em;
   
    

  }
  .content-dropdown-menu a{
    color: var(--main-black-color);
    width: 100%;
    border-bottom: var(--bottom-border-line);
 

  }
.allifmaincontainer{
  margin: 0.2em;
  border: var(--bottom-border-line);
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0.3em;
  min-width: min-content;
  max-width: 100%;
  min-height: 80vh;
  max-height: 90vh;
  margin-bottom: 1em;
  height: 85vh;
  margin-right: 0.2em;
  
  }
  
.allifmaal-search-dropdown{
  display: inline;
  margin-left: 1px;
  white-space: nowrap;
  font-size: var(--main-text-font-size);
  
  overflow: hidden;
  overflow-y: hidden;
  height: 4em;
  max-height: 1em;
  margin-top: 0.5px;
  margin-bottom: 0.5px;
  overflow: auto;
  
  
  }
  
   .search-header-text{
    margin:0.2em;
    padding: 0.2em;
    font-size: 1.1em;
   }
   .instant-details-container{
    background-color: #dadada;
    padding: 1px;
    padding-bottom: 1px;
   
    box-shadow: var(--box-shadow-specs);
   }
   .delete-options-container {
    background-color: var(--main-background-color);
    border-radius: 0.3em;
    padding: 0.3em;
    margin: 0.3em;
    font-size: var(--headings-font-size);
    text-align: center;
    box-shadow: var(--box-shadow-specs);
    width: 50%;
    
   }
   .delete-options-container a{
    color: var(--main-black-color);
   }
   .delete-options-container a:hover{
    color: var(--main-blue-color);
   }
   .delete-confirmation-header{
    text-align: center;
    padding: 0.1em 0.5em 0.1em 0.1em;
    font-family: var(--main-font-type);
    box-shadow: var(--box-shadow-specs);
    margin-top: 0.1em;
    font-size:var(--headings-font-size);
    background-color:var(--main-background-color);
    color: var(--main-red-color);
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .delete-options-container-delete{
    background-color: var(--main-delete-color-background);
   
    border-radius: 0.3em;
    padding: 0.3em;
    margin: 0.3em;
    font-size: var(--headings-font-size);
    text-align: center;
    width: 50%;
    box-shadow: var(--box-shadow-specs);
  
  }
  .delete-options-container-delete a {
    color: white;
  }
  .delete-options-container-delete a:hover {
    color: var(--main-blue-color);
  }
  
  a:link{
    text-decoration: none;
  }

table * {
  font-family: var(--main-font-type);
  color:var(--main-black-color);
  
}
table.allifmaincontainer {
  background-color:var(--main-background-color);
  width: 100%;
  height: 100%;
  

  }


/*style the table in the search side nav module...*/
table.allif-search-table a {
  color: var(--main-blue-color);
  border: none;
  height: fit-content;
  width: fit-content;
  padding: 0.1em 0.5em 0.1em 0.1em;
  overflow: hidden;
  
  }

table.allif-search-table tr, table.allif-search-table td{
  background-color: var(--main-background-color);
  height: fit-content;
  width: fit-content;
  padding: 0.1em 0.5em 0.1em 0.1em;
  
  
  }
  
table.allif-search-table a:hover{
color:var(--links-on-hover-text-color);
background-color: var(--main-background-color);
}


  /* ...END....module menu drop down content styling */
/*....Start.....style table content describer....*/
.table-content-description{
  text-align: center;
  padding: 0.1em 0.5em 0.1em 0.1em;
  font-family: var(--main-font-type);
  color: var(--main-blue-color);
  box-shadow: var(--box-shadow-specs);
  margin-top: 0.1em;
 
}

.table-details-content-description{
  text-align: center;
  padding: 0.1em 0.5em 0.1em 0.1em;
  font-family: var(--main-font-type);
  color: var(--main-blue-color);
  box-shadow: var(--box-shadow-specs);
  margin-top: 0.1em;
  font-size:var(--headings-font-size);
  background-color: rgb(245, 247, 246);
  
}

/*error description*/
.content-description-error{
  text-align: center;
  font-family: var(--main-font-type);
  color: var(--main-red-color);
  box-shadow: var(--box-shadow-specs);
  font-size:var(--main-text-font-size);
  background-color: rgb(245, 247, 246);
  
}


/*....End.....style table content describer....*/
/* ...start....styling the main content tables... */
.allif-scroll-table {
  display: grid;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 80vh;
  margin-left: 0px;
  margin-right: 0px;
  /*overflow: auto;*/
   /* overflow-x: auto;*/
    /*overflow-y: auto;*/
  
 
  
  border-left: 0.05em solid #ddddfa;
  border-right: 0.05em solid #ddddfa;
  border-radius: 0.1em;
  background-color: var(--main-background-color);
  margin-bottom: 1em;
  box-shadow: 0em 0em 0.5em #858585;

 
}
  /* make the table heads sticky and fixed ...*/
.allif-scroll-table thead tr {
  position: sticky; /* make the table heads sticky */
  top: 0px; /* table head will be placed from the top of the table and sticks to it */ 
  color: var(--main-black-color); 
  background-color: var(--main-background-color);
  }

td, th {
width:auto;
min-width:auto;
max-width: 100%;
word-wrap: break-word; /* Break long words */
word-break: break-all; /* Break long words */
text-overflow: ellipsis; /* Show ellipsis for overflow content */
white-space: nowrap; /* Prevent text from wrapping */

}
.allif-full-table{
  height: auto;
  max-height: 80vh;
  
  
   overflow: auto;
   overflow-x: scroll;
    overflow-y: auto;
  
}
.allif-info-tables{
  height: auto;
  max-height: 80vh;
  
  
   overflow: auto;
   overflow-x: hidden;
    overflow-y: auto;

}
.allif-fix-table-col {
position:sticky;
width: auto;

}

.allif-fix-table-col:first-child {
left:0;
width:auto;
min-width:auto;
background-color: var(--main-fixed-col-bg-clr);


}
.allif-fix-table-col:last-child {
right:0;
width:auto;
min-width:auto;
}


.allif-table-header-row {
  box-shadow: 0em 0em 0.5em #858585;
  border: none; 
  z-index: 1;
 
  }
 
  
.allif-scroll-table thead tr:hover {
  box-shadow: 0em 0em 0.5em var(--main-green-color);
  border: none;
  }
      
.allifmaincontainer tr:hover{
  background-color: #FFF;
  box-shadow: 0em 0em 0.1em var(--main-green-color);
  
  }

td.allif-fix-table-col:hover {
  background-color: #FFF;
  box-shadow: 0em 0em 0.1em var(--main-green-color);
 
  
  }

.table-layout tbody.allif-table-body {
border-top: none;
}



.allifmaal-full-table{
background-color: var(--main-background-color);
overflow-x: auto;
overflow-y: auto;

}

#allif-superuser-row{
  background-color: #f9922c;
  
  
}

  /* start --- below is for changing the color of the clicked row in the tables 037262......*/
.table-layout .clickedrow td, .table-layout .clickedrow a {
  background-color:  var(--main-background-color);
  color: var(--main-black-color);
  }
  /* end--- below is for changing the color of the clicked row in the tables*/

a.allif-table-links {
  color: var(--main-blue-color);
}
a.allif-table-links:hover {
  color: var(--links-on-hover-text-color);
}

#allif-table-drop-item-link{
  color: var(--main-blue-color);
}
#allif-table-drop-item-link-delete{
color: var(--main-red-color);
}
/*styling for the form page*/
.allifmaincontainer .allif-form-container {
  background-color:var(--main-background-color);
  margin-bottom: 2em;
  margin-top: 1em;
}

.allif-form-container .allif-form-card {
  background-color: var(--main-background-color);
    }
.allifmaincontainer {
.allifmaal-submit-btn {
  background-color: var(--main-background-color);
  color: var(--main-black-color);
  box-shadow: 0em 0em 0.5em #858585;
  border: none;
  margin-bottom: 0.1em;
  
}
}

.allifmaincontainer .allifmaal-submit-btn:hover{
  background-color: var(--button-on-hover-color);
  color: var(--main-black-color);
  box-shadow: 0em 0em 0.5em #858585;
  border: none;
  }

  .allifmaal-submit-btn{
    background-color: var(--main-background-color);
    color: var(--main-black-color);
    box-shadow: var(--box-shadow-specs);
    border: none;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    width: 100%;
  }
  .allif-content-spacer{
    height: var(--main-spacer-height);
    width: var(--main-width);
    background-color: var(--main-background-color);
    border-radius: var(--main-border-radius);
    margin:var(--main-content-spacer-margins);
  }
/*style for the details card*/
.allif-details-container .allif-details-card {
  border: 0.05em solid #ddddfa;
  border-radius: 0.3em;
  }
.allifmaincontainer .allif-details-container{
  margin-bottom: 2em;
  margin-top: 1em;
  }
#allif-table-sums-section{
  background-color: var(--main-background-color);
  color: var(--main-black-color);
}
  
  
  /*....#F6F7F8..start.....styling the dashboard page.....*/
  .allif-dashboard-card-header{
    background-color: var(--main-background-color);
    color: var(--main-black-color);
    border: 0.05em solid #ddddfa;
    border-radius: 0.3em;
    box-shadow: 0em 0em 0.3em var(--main-blue-color);
    text-align: center;
    margin-bottom: 1em;
    
  }
  .allif-dashboard-card-body{
    background-color: var(--main-background-color);
    box-shadow: 0em 0em 0.3em var(--main-green-color);
  }
  /*......end.....styling the dashboard page.....*/
 
/*... Start.... Styling of categories/sections part.....*/
#allif-delete-on-table-row{
  color: var(--main-white-color);
  background-color: var(--main-delete-color-background);
 
}
#allif-delete-on-table-row a{
  color: var(--main-white-color);
}
.allif-section{
  background-color: var(--main-background-color);
  text-align: center;
  box-shadow: 0em 0em 0.2em var(--main-blue-color);
  margin: 0.5em;
  padding: .5em;
  border-radius: 0.3em;

   }
.allif-section-card-header{
  text-align: center;
  color: #0a0a0a;
    }
.allif-section-card {
  background-color: var(--main-background-color);
  text-align: center;
  box-shadow: 0em 0em 0.2em var(--main-green-color);
  margin: 0.3em;
  padding: .3em;
  border-radius: 0.3em;
  }
.allif-section-card a {
  color: var(--main-blue-color);
  }
.allif-section-card a:hover {
  color: var(--links-on-hover-text-color);
    }
/*... End.... Styling of categories/sections part.....*/

/*...START.... styling for the advanced filtering side nav menu....*/
.content-hidden-sidenavbar {
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  background-color: var(--main-background-color);
  overflow-x: hidden;
  transition: 0.5s;
  
  border-radius: 4px;
  margin-top: 5em;
  height: fit-content;
  margin-left: 0.3em;
  
  display: block;
  border:var(--main-border-line);
  padding: var();
  height: 0;
  }
    

.content-hidden-sidenavbar .closebtn {
  position: relative;
  color: var(--main-blue-color);
  font-size:var(--main-text-font-size);
  margin-left: 3em;
  margin-top: 3em;
  top:0.3em;
  text-align: center;
  
  
}
.content-hidden-sidenavbar .closebtn:hover{
  color: var(--main-red-color);
}

  /*WITHOUT THIS STYLING THE DROPDOWN WILL BE VERY SMALL*/
.content-hidden-sidenavbar-form-dropdown{
  width: max-content;
  min-width: max-content;
}

/*...END.... styling for the advanced filtering side nav menu....*/

a.body-delete-link {
  color: var(--main-red-color);
}
.allif-details-table{
 
  
  overflow: auto;
  padding: 0;
  margin: 0;
}
a.body-delete-link-confirm{
  color: rgb(7, 7, 7);

}

.error-header{
  text-align: center;
  font-size: 2em;
  color: #fc514b;
  }
  .error_container {
  width: fit-content;
  height: fit-content;
  max-width: max-content;
  max-height: max-content;
  background: #F6F7F8!important;
  position: relative;
  display: block;
  justify-content: center;
  box-shadow: 3px 3px 7px 7px rgba(0, 0, 0, 0.2);
  margin-left: 7em;
  margin-right: 7em;
  margin-top: 3em;
  background-color: #F6F7F8;
  padding: 2em;
 
  }
  
  .loginlink{
  text-align: center;
  text-decoration: none;
  }
  #allif-table-inline-form{
    background-color:var(--main-background-color);
    color: var(--main-black-color);
    
  }

  .form-header{
    text-align: center;
    font-size: 1em;
  }
  .logoutlink{
    text-align: center;
    margin: 0.5em;
  }
  .entity-creation-body{
    background-color: var(--main-background-color);
  }

.allif-admin-img-container{
  text-align: center;
}
.admin-home-image{
  width: 150px;
  height: 120px;
}
/*start... styling of table inline dropdown with delete*/
  .allif-confirm-action{
    display: none;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    border: 0.1em solid var(--main-blue-color);
    border-radius: 0.2em;
    box-shadow: var(--box-shadow-specs);
    overflow: auto;
    
  }

  .dropdown-content a {
    display: block;
    padding: 0.5em 0.5em;
    text-decoration: none;
    color: var(--main-black-color);
    width: 100%;
    box-shadow: var(--box-shadow-specs);
    overflow: auto;
 
  }

  .allif-show {
    display: block;
  }

  .confirm-delete {
    background-color: #ffcccc; /* Red background for confirmation */
  }
  #allif-confirm-delete{
    color: var(--main-red-color);
  }

  /*end... styling of table inline dropdown with delete*/
  