{% extends 'allifmaalcommonapp/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}
<!--start....main headere-->
<div class="card-header">

  <div class="row mt-12" ><!--start....header row-->
  
  <div class="col-md-12"><!--start....header column-->
  
  <div class="container-fluid amel-content-header">
    <div class="dropdown allifmaal-content-dropdown">
      <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Actions
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <div class="content-dropdown-menu">

          <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonAddInvoiceDetails' allifquery.id user_var glblslug %}">Edit Item</a></li>
          <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonAddInvoiceItems' allifquery.id user_var glblslug %}">Add Item</a></li>
          <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonPostInvoice' allifquery.id user_var glblslug %}">Post Invoice</a></li>
          <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonInvoiceToPdf' allifquery.id user_var glblslug %}">Generate Pdf</a></li>
    
          <li><a class="dropdown-item body-delete-link" href="{% url 'allifmaalcommonapp:commonWantToDeleteInvoice' allifquery.id user_var glblslug %}">Delete Item</a></li>
          
       </div>
      </ul>
    </div>

    
    <a href="{% url 'allifmaalcommonapp:commonHome' user_var glblslug %}">Home</a>
 
  <a href="{% url 'allifmaalcommonapp:commonInvoices' user_var glblslug %}">Sales</a>
  
  </div>
  
      </div><!--end....header column-->
    
    </div><!--end....header row-->
  
  </div><!--end....main headere-->
<div class="allifmaincontainer">
  <div class="row mt-12"> <!--start....table row-->

  {% if myallifquery %}
  <div class="allif-scroll-table">
    <!--start of the table-->

        <table class="table table-layout">
        <thead>
        <tr class="allif-table-header-row">
        <td>Quote No.</td>
        <td>Customer</td>
        <td>Amount</td>
        
        <td>No</td>
        <td>Yes</td>
        
        </tr>
          </thead>
          <tbody class="allif-table-body">  
          <tr sid="allif-delete-on-table-row">
           
            <td id="allif-delete-on-table-row"> Delete {{myallifquery.number}} ?</td>
            <td id="allif-delete-on-table-row">{{myallifquery.customer}}</td>
            <td id="allif-delete-on-table-row">{{myallifquery.total|floatformat:2|intcomma}}</td>
            <td id="allif-delete-on-table-row">
              <a href="{% url 'allifmaalcommonapp:commonAddInvoiceDetails' allifquery.id user_var glblslug %}" class="body-delete-link">
               Dont Delete
               </a>
              </td>
            <td id="allif-delete-on-table-row">
            <a href="{% url 'allifmaalcommonapp:commonDeleteInvoice' myallifquery.id user_var glblslug %}" class="body-delete-link">
             Yes Delete
             </a>
            </td>
           
          </tr>
        </tbody>
      </table>
      </div>

          {% endif %}
        
    <div class="table-content-description"> {{allifquery}} </div>
    <div class="allif-details-container">
      <div class="row"><!--start of row div --->
        <!--start of column two-->
        <div class="col-md-4">
          <div class="allif-details-card ">
            <!--start of the table here-->
          <table class="table allif-details-table table-layout">
            <tbody>
              <tr>
                <td>Company</td>
                <td>{{allifquery.company}}</td>
            
                </tr>
              <tr>
                <td>Division</td>
                <td>{{allifquery.division}}</td>
            
                </tr>
                <tr>
                  <td>Branch</td>
                  <td>{{allifquery.branch}}</td>
              
                  </tr>
              <tr>
                <td>Department</td>
                <td>{{allifquery.department}}</td>
            
                </tr>
          <tr>
            <td>Customer</td>
            <td>{{allifquery.customer}}</td>
        
            </tr>
           
            <tr>
              <td>Currency</td>
              <td>{{allifquery.currency}}</td>
              
            </tr>
            <tr>
              <td>Status</td>
              <td>{{allifquery.status}}</td>
              
            </tr>
          </tbody>
          </table>
        
          </div>
              </div>
      
           
       <!--start of column two-->
       <div class="col-md-4">
        <div class="allif-details-card ">
          <!--start of the table here-->
        <table class="table table-layout allif-details-table">
          <tbody>
            <tr>
              <td>Amount</td>
              <td>{{allifquery.total|intcomma}}</td>
          
              </tr>
              <tr>
                <td>Discount</td>
                <td >{{allifquery.discountAmount|floatformat:2|intcomma}}</td>
              </tr>
           <tr>
            <td>Discounted Amount</td>
            <td>{{allifquery.totalwithdiscount|floatformat:2|intcomma}}</td>
           </tr>
              <tr>
                <td>Tax Rate %</td>
                <td>{{allifquery.salestax.taxrate|floatformat:2|intcomma}}</td>
                
              </tr>
              <tr>
                <td>Tax Amount</td>
                <td>{{allifquery.taxAmount|floatformat:2|intcomma}}</td>
                
              </tr>
             
              <tr>
                <td>Grand Total </td>
                <td>{{allifquery.grandtotal|floatformat:2|intcomma}}</td>
                
              </tr>

              <tr>
                <td>Items Cost </td>
                <td>{{allifquery.invoice_items_total_cost|floatformat:2|intcomma}}</td>
                
              </tr>
              <tr>
                <td>Gross Profit</td>
                <td>{{allifquery.invoice_gross_profit|floatformat:2|intcomma}}</td>
                
              </tr>
            
        </tbody>
        </table>
      
        </div>
            </div>
      
      
       <!--start of column two-->
       <div class="col-md-4">
        <div class="allif-details-card ">
          <!--start of the table here-->
        <table class="table table-layout allif-details-table">
          <tbody>
            <tr>
              <td>Comments</td>
              <td>{{allifquery.comments}}</td>
              
            </tr>
            <tr>
              <td>Sales Tax</td>
              <td>{{allifquery.salestax}}</td>
              
            </tr>
        <tr>
        <td>Discount</td>
        <td>{{allifquery.discount}}</td>


        </tr>
        <tr>
          <td>Terms</td>
          <td>{{allifquery.terms}}</td>
      
    </tr>
     
    <tr>
      <td>Created By</td>
      <td>{{allifquery.owner}}</td>
  
      
      </tr> 
        <tr>
          <td>Created On</td>
          <td>{{allifquery.date|date:'d/m/Y'}}</td>
        </tr>
      
        </tbody>
        </table>
      
      </div>
    </div>
      
      </div><!--end of row div --->
        
          </div>
          <hr>

</div><!--end....table row-->

  <div class="row mt-12"> <!--start....table row-->
    <div class="col-md-12"><!--start of the first row body-->
        <div class="allif-form-container">
        <form method='POST' action=''>{% csrf_token %}
        <div class="row"><!--start of row div --->
            <div class="col-md-4"><!--start of column 1-->
              <div class="card shadow text-left p-3 allif-form-card" >
                <label>Division Name</label> {{form.division}}
                <label>Branch Name</label> {{form.branch}}
                <label>Department Name</label> {{form.department}}
                <label>Customer</label> {{form.customer}} 
                <label>Description</label> {{form.description}} 
                <label>Status</label>{{form.status}} 
                
                </div>
            </div><!--end of column 1-->
        
            <div class="col-md-4"><!--start of column 2-->
            <div class="card shadow text-left p-3 allif-form-card">
              <label>Currency</label> {{form.currency}} 
              <label>Terms</label> {{form.terms}}
              <label>Comments</label> {{form.comments}} 
              <label>Discount</label> {{form.discount}} 
              <label>Discount Rate %</label> {{form.discountValue}} 
              
                </div>
            </div><!--end of column 2-->
            <div class="col-md-4"><!--start of column 3-->
            <div class="card shadow text-left p-3 allif-form-card">
              <label>Tax</label> {{form.tax}} 
              <label>Sales Tax</label> {{form.salestax}} 
              <label>Comments</label> {{form.comments}} 
              <label>Discount</label> {{form.discount}} 
              <label>Tax Rate</label> {{form.tax}}

                <input type="submit" value='Save' class="btn btn-success allifmaal-submit-btn">
        
                </div>
            </div><!--end of column 1-->
        
        </div><!--end of row div --->
            </form>
            </div>
            </div><!--end of first row body-->
</div><!--end....table row-->

<!--end of table-->


</div><!--end of main container of the page....-->

  {% block scripts %}

  {% endblock %}
   {% endblock %}
   
