
<div>
    <nav class="navbar navbar-expand-lg navbar-light allifmaal-top-nav-bar">
  
    <!--start of top nav bar section-->
    <div class="container-fluid">
<!--start......side nav bar section....-->
<div class="allifmaal-side-nav-bar container-fluid" >
      
  <a class="side-nav-dropdown-btn nav-link dropdown-toggle navbar-brand" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
    GM Awards
  </a>
      
  <ul class="dropdown-menu allifmaal-side-nav-dropdown">
    <div class="amrullah-side-navbar">
      <li><a class="dropdown-item" href="{% url 'awards:home' %}">Home</a></li>
      <li><a class="dropdown-item" href="{% url 'awards:companies' %}">Companies</a></li>
      <li><a class="dropdown-item" href="{% url 'awards:categories' %}">Categories</a></li>
      <li><a class="dropdown-item" href="{% url 'loginapp:users' %}">Users</a></li>
      <li><a class="dropdown-item" href="{% url 'awards:votes' %}">Votes</a></li>
      
      </div>
    
        </ul>
      </div>
        <!--end......side nav bar section....-->



      <a class="nav-link" href="{% url 'awards:home' %}">Home</a>
      <!--button below is very important and shows the hidden links when the screen is small-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'awards:companies' %}">Companies</a>
          </li>
          <li><a class="nav-link" href="{% url 'awards:categories' %}">Categories</a></li>
          
        <li>
         
          <a class="nav-link" href="{% url 'awards:gmaWebsite' %}">Website</a>
          
        </li>
        
      </ul>
        </div>
      </div>
    
    </nav>
    </div>