{% extends 'allifmaalcommonapp/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}

<!--start....main headere-->
<div class="card-header">

  <div class="row mt-12" ><!--start....header row-->
  
  <div class="col-md-12"><!--start....header column-->
  
  <div class="container-fluid amel-content-header">
    <div class="dropdown allifmaal-content-dropdown">
      <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Open Filters
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <div class="content-dropdown-menu">
  
        <li><a class="dropdown-item">Looking for something?</a></li>
        <a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonCustomers' user_var glblslug %}">Clear Search</a>
        
        <form method='POST' action="{% url 'allifmaalcommonapp:commonCustomerSearch' user_var glblslug %}">{% csrf_token %}
        
          <input type="text" id="allifsearchcommonfield" name="allifsearchcommonfieldname" class="form-control allifsearchcommonfieldclasstwo"
          placeholder="Type Here ...">
        
          <button type="submit" class="btn allifmaal-submit-btn">Submit</button>
          </form>
          <hr>
          <li><a class="dropdown-item">Select Ordering Option</a></li>
        <form method='POST' action="{% url 'allifmaalcommonapp:commonCustomers' user_var glblslug %}" enctype="multipart/form-data">{% csrf_token %}
      
        <div>
        <select name="requiredformat" class="form-control">
          {% for item in datasorts %}
          <option>{{item.name}}</option>
            
           {% endfor %}
           
          </select>
          </div>
          <button type="submit" class="btn allifmaal-submit-btn">Submit</button>
      
      </form>
      <hr>
      <li><a class="dropdown-item">Advanced Searching</a></li>
      <form method='POST' action="{% url 'allifmaalcommonapp:commonCustomerAdvanceSearch' user_var glblslug %}" enctype="multipart/form-data">{% csrf_token %}
        
        <div>
          <label>Start Date</label>
          <input type="date" class="form-control" name="startdate" placeholder="Starting Balance">
        </div>
        <div>
          <label>End Date</label>
          <input type="date" class="form-control" name="enddate" placeholder="Ending Balance">
        </div>

        <div>
          <label>Start Value</label>
          <input type="text" class="form-control" name="startvalue" placeholder="">
        </div>
        <div>
          <label>End Value</label>
          <input type="text" class="form-control" name="endvalue" placeholder="">
        </div>
        
        
        <div>
          <label >Select Option</label>
          <select name="requiredformat" class="form-control">
            {% for item in formats %}
            <option>{{item.name}}</option>
            
         {% endfor %}
         
        </select>
        </div>
  
        
        <button type="submit" class="btn allifmaal-submit-btn">Submit</button>
    
    </form>
    <hr>
      
      </div>
      </ul>
    </div>
    <a class="amel-table-list-identifier">Customers:</a>
    <a href="{% url 'allifmaalcommonapp:commonHome' user_var glblslug %}">Home</a>
    
    {% if sctr == 'Education' %}
  <a href="{% url 'allifmaalcommonapp:commonAddCustomer' user_var glblslug %}" class="module-menu-links">New Student </a>
  {% elif sctr == 'Healthcare' %}
  <a href="{% url 'allifmaalcommonapp:commonAddCustomer' user_var glblslug %}" class="module-menu-links">New Patient</a>
               
  {% else %}
  <a href="{% url 'allifmaalcommonapp:commonAddCustomer' user_var glblslug %}" class="module-menu-links">New Customer </a>
  {% endif %}
   
  {% if sctr == 'Education' %}
  <a href="{% url 'allifmaalcommonapp:commonCustomers' user_var glblslug %}" class="module-menu-links">Students</a>
  
  {% elif sctr == 'Healthcare' %}
  <a href="{% url 'allifmaalcommonapp:commonCustomers' user_var glblslug %}" class="module-menu-links">Patients</a>
 
  {% else %}
  <a href="{% url 'allifmaalcommonapp:commonCustomers' user_var glblslug %}" class="module-menu-links">Customers</a>
  
  {% endif %}
    <a href="{% url 'allifmaalcommonapp:commonSuppliers' user_var glblslug %}" class="module-menu-links">Suppliers</a>
    
 
  <div class="dropdown allifmaal-content-dropdown">
    <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Modules
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <div class="content-dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonSuppliers' user_var glblslug %}" >Suppliers</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonhrm' user_var glblslug %}" >Employees</a></li>
     
    </div>
    </ul>
  </div>
  <a href="{% url 'allifmaalcommonapp:commonTasks' user_var glblslug %}">Tasks</a>
  </div>
  
      </div><!--end....header column-->
    
    </div><!--end....header row-->
  
  </div><!--end....main headere-->
<div class="allifmaincontainer">

    
  <div class="row mt-12"> <!--start....table row-->
    <div class="col-md-12"><!--start of the first row body-->
        <div class="allif-form-container">
        <form method='POST' action=''>{% csrf_token %}
        <div class="row"><!--start of row div --->
            <div class="col-md-4"><!--start of column 1-->
                <div class="card shadow text-left p-3 allif-form-card" >
                <label>Division Name</label> {{form.division}}
                <label>Branch Name</label> {{form.branch}}
                <label>Department Name</label> {{form.department}}
                <label>Full Name</label> {{form.name}}
                <label>Gender</label>{{form.gender}}
                <label>Phone</label>{{form.phone}}
                <label>Email</label> {{form.email}}
                
                </div>
            </div><!--end of column 1-->
        
            <div class="col-md-4"><!--start of column 2-->
            <div class="card shadow text-left p-3 allif-form-card">
              <label>Address</label>{{form.address}}
                

                <label>City</label>{{form.city}}
                
              <label>Country</label>{{form.country}}
              <label>Comments</label>{{form.comments}}
              {% if sector == 'Education' %}
                <label>Class</label>{{form.className}}
               
                <label>Form</label>{{form.form}}
                {% elif sector == 'Healthcare' %}
                <label>Age</label>{{form.age}}
                {% else %}
                <p></p>
                {% endif %}

                <label>Sales</label>{{form.sales}}
                <label>Balance</label>{{form.balance}}
               
              
                </div>
            </div><!--end of column 2-->
            <div class="col-md-4"><!--start of column 3-->
            <div class="card shadow text-left p-3 allif-form-card">
                
              <label>Turnover</label>{{form.turnover}}
              <label>Payment</label>{{form.paymentType}}
              <label>Next Kin</label>{{form.nextkin}}
              <label>Relationship</label>{{form.relationship}}
              <label>Contact</label>{{form.contact}}
             
                <br>
                <input type="submit" value='Save' class="btn btn-success allifmaal-submit-btn">
        
                </div>
            </div><!--end of column 1-->
        
        </div><!--end of row div --->
            </form>
            </div>
            </div><!--end of first row body-->
</div><!--end....table row-->

<!--end of table-->


</div><!--end of main container of the page....-->

  {% block scripts %}

  {% endblock %}
   {% endblock %}
   
