{% extends 'awards/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}

<!--start....main headere-->
<div class="card-header">
  <div class="row mt-12" ><!--start....header row-->
  <div class="col-md-12"><!--start....header column-->
  <div class="container-fluid amel-content-header">
    <a class="amel-table-list-identifier">Divisions:</a>
    <a href="">Home</a>
    
  
  <a href="">Divisions</a>
  
  </div>
  
    </div><!--end....header column-->
    
    </div><!--end....header row-->
  
  </div><!--end....main headere-->
 
<div class="allifmaincontainer">
    <div class="error_container">
        <div class="error-header">
        Error
            </div>
        <div class="error-body">
        <p>Sorry, an error occurred, please correct it and try again.</p>
        <p>{{error_message}}</p>
        <a href="{% url 'loginapp:userLogoutPage' %}" class="loginlink">Login Again</a>
        </div>
        </div>

<!--end of table-->

</div><!--end of main container of the page....-->

  
  {% block scripts %}
 
  {% endblock %}
  
   {% endblock %}
   

