{% extends 'allifmaalcommonapp/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}

<div class="allifmaal-main-container">

  <!--start....main headere-->
<div class="card-header">
  <div class="row mt-12" ><!--start....header row-->
  <div class="col-md-12"><!--start....header column-->
  <div class="container-fluid amel-content-header">
    <a class="amel-table-list-identifier">Divisions:</a>
    <a href="{% url 'allifmaalcommonapp:commonHome' user_var glblslug %}">Home</a>
    <a href="{% url 'allifmaalcommonapp:commonAddDivision'  user_var glblslug %}">New Division</a>

  <div class="dropdown allifmaal-content-dropdown">
    <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Modules
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <div class="content-dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonCustomers' user_var glblslug %}">Customers</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonSuppliers' user_var glblslug %}">Suppliers</a></li>
    </div>
    </ul>
  </div>
  <a href="{% url 'allifmaalcommonapp:commonTasks' user_var glblslug %}">Tasks</a>
  
  </div>
    </div><!--end....header column-->
    </div><!--end....header row-->
  </div><!--end....main headere-->
  
    <div class="allifmaincontainer">
 
<div class="row mt-12"> <!--start....table row-->
  <div class="col-md-12"> <!--start....table column-->
  <div class="allif-scroll-table">
    <div class="table-responsive allif-full-table">
    <table class="table table-layout">
      <thead>
        <tr class="allif-table-header-row">
        <td class="allif-fix-table-col">Division</td>
        <td>Address</td>
        <td>Created By</td>
        <td>Date</td>
        <td>Navigate</td>
        
        <td> . . . </td>
        <td></td>
        </tr>
        </thead>
        <tbody class="allif-table-body">
         
        
        {% for item in allifqueryset %} 
        <tr data-id="{{item.id}}">
        <td class="allif-fix-table-col"><a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonDivisionDetails' item.id user_var glblslug %}">{{item.division}}</a></td>
        <td>{{item.address}}</td>
        <td>{{item.owner}}</td>
        <td>{{item.date|date:'d/m/Y'}}</td>
       
        <td>
          <div class="dropdown allifmaal-content-dropdown">
            <a href="#" onclick="showDropdown(event, this)" class="dropdown-toggle dropdown-item" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Options</a>
            <div class="dropdown-content">
              <a href="{% url 'allifmaalcommonapp:commonEditDivision' item.id user_var glblslug %}" class="dropdown-item" id="allif-table-drop-item-link">Edit Item</a>
              <a href="#" onclick="confirmDelete(this)" class="dropdown-item" id="allif-table-drop-item-link-delete">Delete Item</a>
              
            </div>
          </div>
          <div class="dropdown allif-confirm-action">
            
            <a href="{% url 'allifmaalcommonapp:commonDivisions' user_var glblslug %}" id="allif-table-drop-item-link">No</a><span><strong> | </strong></span>
            <a href="{% url 'allifmaalcommonapp:commonDeleteDivision' item.id user_var glblslug %}" id="allif-confirm-delete">Confirm</a>
          </div>

         
        </td>

       <td> . . . </td>
       <td></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
   </div>

</div><!--end....table column-->

</div><!--end....table row-->

</div>
</div>
  {% block scripts %}
 
  {% endblock %}
  {% endblock %}

