{% extends 'allifmaalcommonapp/base/uimainbase/allifpdfuibase.html'%}
{% load humanize %}
{% load static %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}
<style>
    #allif-pdf-header{
    font-size:2em;
    color: #050eab;
    float: right;
    text-align: right;
    margin: 0.4em;
  }
</style>

<div id="allif-pdf-header">Purchase Orders </div>

<div>
    <table class="table-bordered">
    <tr>
    <thead>
    <tr class="allif-pdf-table-header">
    
    <th colspan="4">Purchase Order Details</th>
    <th colspan="4">Supplier</th>
    <th colspan="2">Amount</th>
    <th colspan="2">Date</th>
    </tr>
    </thead>
    <tbody>
    {% for item in searched_data %}
    <tr>
    <td colspan="4">{{item.po_number}}</td>
    <td colspan="4">{{item.supplier}}</td>
    <td colspan="2">{{item.amount|intcomma}}</td>
    <td colspan="2"> {{item.date|date:'d/m/Y'}}</td>
    </tr>
    {% endfor %}
   
    </tbody>
    </table>
        
</div> 

{% block scripts %}

{% endblock %}

{% endblock %}
   